.CustomerInformation,
#CustomerInformation{
	border:1px solid #e4e4e4;
	border-top:3px solid #7bc142;
	color: #696969;
	height:auto;
	margin:15px auto;
	overflow:auto;
	vertical-align:top;
	-moz-box-shadow: 3px 3px 5px #ebebeb;
  	-webkit-box-shadow: 3px 3px 5px #ebebeb;
  	box-shadow: 3px 3px 5px #ebebeb;
}
.CustomerInformation hr.shadow,
#CustomerInformation hr.shadow {
	-moz-box-shadow:0 3px 5px #CCCCCC;
	background:#D8D8D7 !important;
	border:none !important;
	height:1px;
	margin-bottom:20px;
}
.CustomerInformation h2,
#CustomerInformation h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 0 10px;
    padding: 0;
}
.CustomerInformation .dataDiv,
#CustomerInformation .dataDiv {
	margin:0 0 15px;
	padding: 0 15px 0 0;
	font-size:12px;
}
.CustomerInformation .dataDiv span,
#CustomerInformation .dataDiv span {
	display:block;
}
.CustomerInformation .dataDiv span:first-child,
#CustomerInformation .dataDiv span:first-child {
	font-weight:bold;
}
.CustomerInformation .dataDiv span.header,
#CustomerInformation .dataDiv span.header {
	font-weight:bold;
	margin: 0 0 2px;
	width: 165px;
}
.CustomerInformation .dataDiv select,
#CustomerInformation .dataDiv select {
	width: 170px;
}
.CustomerInformation .customerInfoLeft,
#CustomerInformation .customerInfoLeft{
	display: inline-block;
	float: left;
	margin:5px 0 0 20px;
	vertical-align:top;
	width:280px;
}
.CustomerInformation .customerInfoRight,
#CustomerInformation .customerInfoRight{
	display: inline-block;
	float: left;
	margin:5px 0 0;
	vertical-align:top;
	width:450px;
}
.CustomerInformation .customerInfoRight .blue,
#CustomerInformation .customerInfoRight .blue {
	color:#126395;
}
.CustomerInformation .customerInfoRight .blue .header,
#CustomerInformation .customerInfoRight .blue .header{
	width:100%;
}