[id $= "_divHFFDonation_Step1"] #GoldButton {
	margin-top: 15px;    
    float: right;
	max-width: 200px;
	margin-right: 150px;
}

[id $= "_divHFFDonation_Step1"] #SilverButton {
	margin-left: 150px;
	float: left;
	max-width: 200px;
}

/*2nd step styles */
#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_imgHFFHeader {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px
}

[id $= "_divHFFDonation_Step2"] #SilverButton {
	float: left;
	margin-right: 30px;
}

[id $= "_divHFFDonation_Step2"] #GoldButton {
	float: right;
}

[id $= "_divHFFDonation_Step2"] #divTotals {
	width: 205px;
	margin-top: 20px;
}

[id $= "_divHFFDonation_Step2"] #divTotals span {
	width: 100px;
	padding: 5px 0;
	display: inline-block;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #divTotals #ctl00_ctl00_ContentArea_ProductsContent_ctl06_lbTotalsTitle {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #divTotals #ctl00_ctl00_ContentArea_ProductsContent_ctl06_lbTax, 
#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #divTotals #ctl00_ctl00_ContentArea_ProductsContent_ctl06_lbTotal {
	font-weight: bold;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #divTotals #ctl00_ctl00_ContentArea_ProductsContent_ctl06_lbTotalValue, 
#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #divTotals #ctl00_ctl00_ContentArea_ProductsContent_ctl06_lbTaxValue {
	text-align: right;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_ctl01_pnlCreditTable #SilverButton {
	min-height: 20px;
	margin-bottom: 20px;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_ctl01_pnlPaymentOptions {
	margin-bottom: 20px;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_ctl01_pnlTotals {
	text-align: right;
	margin-bottom: 20px;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_ctl01_pnlTotals table {
	margin: 0;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_ctl01_pnlTotals table #ctl00_ctl00_ContentArea_ProductsContent_ctl06_ctl01_lblGrandTotal {
	display: inline-block;
	width: 125px;
	text-align: left
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_divSubmitCommand {
	margin-top: 10px;
}

#ctl00_ctl00_ContentArea_ProductsContent_ctl06_divHFFDonation_Step2 #ctl00_ctl00_ContentArea_ProductsContent_ctl06_divSubmitCommand #ctl00_ctl00_ContentArea_ProductsContent_ctl06_lbSubmit {
	display: block;
	text-align: right;
	margin-bottom: 20px;
}