div[id$="upShippingInfoControl"] {
	.Wire_transfer_info {
		li  {
			width: auto;
		}
	}
}
.select-location {
    display: inline-block;
    margin-top: 20px;
    color: $blue;
}
#ifTh {
    max-width: 580px;
    min-height: 500px;
	overflow: hidden;
    width: 100%;
}