<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PromotionConfig" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.PromotionConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <appSettings>
    <add key="Locale" value="zh-CN" />
  </appSettings>
  <PromotionConfig>
    <Promotions>
      <Promo code="130042-1" startDate="12-01-2014" endDate="03-01-2015" promotionType="Freight,DSProvince,ShiptoProvince,LowerPriceDelivery" custTypeList="PC" custCategoryTypeList="PC" amountMinInclude="5000" dsStoreProvince="新疆维吾尔族" shippedToProvince="新疆维吾尔族" deliveryTypeList="EXP" />
      <Promo code="130042-2" startDate="12-01-2014" endDate="03-01-2015" promotionType="Freight,DSProvince,ShiptoProvince,LowerPriceDelivery" custTypeList="SP" volumeMinInclude="500" dsStoreProvince="新疆维吾尔族" shippedToProvince="新疆维吾尔族" deliveryTypeList="EXP" />
      
      <Promo code="00000" startDate="11-30-2013" endDate ="01-20-2015" promotionType="Volume" volumeMinInclude="200" custTypeList="SP,DS" freeSKUList="Z917|1,N336|1,N335|1" selectableSKUList="1443|1,1442|1"/>
      <Promo code="00001" startDate="11-30-2013" endDate ="01-20-2015" promotionType="Other" amountMinInclude="2000" custTypeList="PC" freeSKUList="Z917|1,N336|1,N335|1" selectableSKUList="1443|1,1442|1"/>

      <Promo code="00002" startDate="02-01-2015" endDate ="02-28-2016" promotionType="Volume" hasIncrementaldegree="false" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" freeSKUList="k445|1" selectableSKUList="1444|2"/>
      <Promo code="00003" startDate="02-01-2015" endDate ="02-28-2016" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" freeSKUList="k445|1" selectableSKUList="1444|2"/>
      <Promo code="00004" startDate="02-01-2015" endDate ="02-28-2015" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" custCategoryTypeList="DS" freeSKUList="k755|1"/>
      <Promo code="00005" startDate="02-01-2015" endDate ="02-28-2015" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" custCategoryTypeList="PC" freeSKUList="k755|1"/>
      <Promo code="00006" startDate="02-01-2015" endDate ="02-28-2016" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="500" custTypeList="DS,FM,SC,SP,SQ" custCategoryTypeList="DS" freeSKUList="K935|1"/>
      <Promo code="00007" startDate="02-01-2015" endDate ="02-28-2016" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="5000" custTypeList="PC,CS" custCategoryTypeList="PC" freeSKUList="K935|1"/>
      <Promo code="00008" startDate="10-01-2015" endDate ="10-31-2015" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" freeSKUList="103P|1" selectableSKUList="1442|1,1443|1"/>
      <Promo code="00010" startDate="12-01-2015" endDate ="12-31-2015" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" custCategoryTypeList="DS" freeSKUList="376P|1"/>
      <Promo code="00011" startDate="12-01-2015" endDate ="12-31-2015" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" custCategoryTypeList="PC" freeSKUList="376P|1"/>
      <Promo code="00012" startDate="01-01-2016" endDate ="01-31-2016" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" custCategoryTypeList="DS" freeSKUList="308P|1"/>
      <Promo code="00013" startDate="01-01-2016" endDate ="01-31-2016" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" custCategoryTypeList="PC" freeSKUList="308P|1"/>
      <Promo code="00014" startDate="02-01-2016" endDate ="04-30-2016" promotionType="Volume" volumeMinInclude="200" hasIncrementaldegree="true" custTypeList="DS,FM,SC,SP,SQ" freeSKUList="543P|1,547P|1" selectableSKUList="1447|2"/>
      <Promo code="00015" startDate="02-01-2016" endDate ="04-30-2016" promotionType="Other" amountMinInclude="2000" hasIncrementaldegree="true" custTypeList="PC,CS" freeSKUList="543P|1,547P|1" selectableSKUList="1447|2"/>

      <Promo code="00016" startDate="03-01-2016" endDate ="03-31-2016" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" custCategoryTypeList="DS" freeSKUList="560P|1"/>
      <Promo code="00017" startDate="03-01-2016" endDate ="03-31-2016" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" custCategoryTypeList="PC" freeSKUList="560P|1"/>
      <Promo code="00019" startDate="02-17-2017" endDate ="02-28-2017" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="0" volumeMinInclude="0" custTypeList="DS,FM,SC,SP,SQ,PC,CS" custCategoryTypeList="DS,PC" selectableSKUList="1228|1" freeSKUList="132U|1"/>
 
      <Promo code="PCDecPromo" startDate="12-01-2015" endDate="12-28-2015" promotionType="Freight" custTypeList="CS,PC" custCategoryTypeList="PC" amountMinInclude="500" deliveryTypeList="EXP" excludedExpID="2,5,11,12,16,18,19,21,24,26,28,30,32,33,37,38" />
      <Promo code="DSNovPromo" startDate="11-01-2015" endDate ="12-31-2015" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="200" custTypeList="DS,FM,SC,SP,SQ" freeSKUList="104P|1,103P|1" selectableSKUList="1442|1,1443|1" freeSKUListForVolume="104P|1" freeSKUListForSelectableSku="103P|2"/>
      <Promo code="PCNovPromo" startDate="11-01-2015" endDate ="12-31-2015" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" freeSKUList="104P|1,103P|1" selectableSKUList="1442|1,1443|1"  freeSKUListForVolume="104P|1" freeSKUListForSelectableSku="103P|2"/>
      <Promo code="00009" startDate="10-01-2015" endDate ="10-31-2015" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="2000" custTypeList="PC,CS" freeSKUList="103P|1" selectableSKUList="1442|1,1443|1"/>
      <Promo code="DSChinaPromo" startDate="04-01-2015" endDate ="05-01-2015" promotionType="Volume" hasIncrementaldegree="true" volumeMinInclude="500" custTypeList="DS,FM,RC,SC,SP,SQ"  freeSKUList="104A|1,105A|1,106A|1,107A|1,108A|1,109A|1,110A|1,111A|1"/>
      <Promo code="PCChinaPromo" startDate="04-01-2015" endDate ="05-01-2015" promotionType="Other" hasIncrementaldegree="true" amountMinInclude="5000" custTypeList="PC,CS"  freeSKUList="104A|1,105A|1,106A|1,107A|1,108A|1,109A|1,110A|1,111A|1"/>
      <Promo code="201311140002" startDate="12-01-2014" endDate ="01-30-2017" promotionType="Order" freeSKUList="616P|1" />
      <Promo code="YearlyPromo" startDate="12-01-2014" endDate ="01-01-2017" promotionType="Order" freeSKUList="N293|1" YearlyPromo="true"/>
      <Promo code="300403" startDate="11-30-2013" endDate ="01-20-2014" promotionType="Freight,DSProvince,ShiptoProvince" dsStoreProvince="浙江,上海" shippedToProvince="浙江,上海" volumeMax="100" maxFreight="10" freeSKUList=""/>
      <Promo code="300100" startDate="02-01-2014" endDate ="04-30-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="江西" shippedToProvince="江西" volumeMinInclude="500" maxFreight="0" />
      <Promo code="300200" startDate="01-18-2014" endDate ="04-18-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="湖南" shippedToProvince="湖南" volumeMinInclude="500" maxFreight="0" />
      <Promo code="300300" startDate="03-01-2014" endDate ="05-31-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="湖南,天津,内蒙古" shippedToProvince="湖南,天津,内蒙古" volumeMinInclude="500" maxFreight="0" />
      <Promo code="300400" startDate="03-01-2014" endDate ="05-31-2014" promotionType="Freight,AmountDue,DSProvince,ShiptoProvince" dsStoreProvince="湖南,天津,内蒙古" shippedToProvince="湖南,天津,内蒙古" amountMinInclude="5000" maxFreight="0" custTypeList="PC,CS" custCategoryTypeList="PC" />
      <Promo code="300500" startDate="03-01-2014" endDate ="04-30-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="江西" shippedToProvince="江西" amountMinInclude="5000" maxFreight="0" custTypeList="PC,CS" custCategoryTypeList="PC" />
      <Promo code="300600" startDate="03-01-2014" endDate ="04-18-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="湖南" shippedToProvince="湖南" amountMinInclude="5000" maxFreight="0" custTypeList="PC,CS" custCategoryTypeList="PC" />
      <Promo code="300700" startDate="04-01-2014" endDate ="06-30-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="湖北,黑龙江,陕西" shippedToProvince="湖北,黑龙江,陕西" volumeMinInclude="500" maxFreight="0" />
      <Promo code="300800" startDate="04-01-2014" endDate ="06-30-2014" promotionType="Freight,AmountDue,DSProvince,ShiptoProvince" dsStoreProvince="湖北,黑龙江,陕西" shippedToProvince="湖北,黑龙江,陕西" amountMinInclude="5000" maxFreight="0" custTypeList="PC,CS" custCategoryTypeList="PC" />
      <Promo code="PCPromoSurvey" startDate="04-01-2014" endDate ="12-31-2014" promotionType="Special" amountMinInclude="500" selectableSKUList="N139|1" freeSKUList="N139|1" custTypeList="PC,CS" custCategoryTypeList="PC" onlineOrderOnly="true" />
      <Promo code="PCPromo" startDate="07-01-2015" endDate ="10-30-2015" promotionType="Other" numOfMonth="3" amountMinInclude="1000" freeSKUList="152P|1,153P|1,154P|1,155P|1" custTypeList="PC,CS" custCategoryTypeList="PC" onlineOrderOnly="true" />
      <Promo code="20140528001" startDate="05-31-2014" endDate ="08-31-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="安徽,辽宁" shippedToProvince="安徽,辽宁" amountMinInclude="500" maxFreight="0" />
      <Promo code="20140528002" startDate="05-31-2014" endDate ="08-31-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="吉林,福建" shippedToProvince="吉林,福建" amountMinInclude="500" maxFreight="0" />
      <Promo code="20140528003" startDate="05-31-2014" endDate ="08-31-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="海南" shippedToProvince="海南" amountMinInclude="500" maxFreight="0" />
      <Promo code="20140626001" startDate="06-30-2014" endDate ="09-30-2014" promotionType="Freight,Volume,DSProvince,ShiptoProvince" dsStoreProvince="甘肃" shippedToProvince="甘肃" amountMinInclude="500" maxFreight="0" />
      <Promo code="20140918001" startDate="09-30-2014" endDate ="10-31-2014" promotionType="Special" amountMinInclude="2000" freeSKUList="K123|1" custTypeList="PC,CS" custCategoryTypeList="PC" onlineOrderOnly="true" />
      <Promo code="20140918002" startDate="09-30-2014" endDate ="10-31-2014" promotionType="Volume" volumeMinInclude="200" maxFreight="0" freeSKUList="K122|1" />
      <Promo code="000504" startDate="03-21-2013" endDate ="03-21-2113" promotionType="SR_FirstOrder" freeSKUList="6847|1"/>
      <Promo code="000505" startDate="06-01-2013" endDate ="06-01-9913" promotionType="PC_FirstOrder" freeSKUList="6840|1"/>
      <Promo code="SRChinaPromo" startDate="10-01-2016" endDate ="12-31-2016" promotionType="Volume" hasIncrementaldegree="false" volumeMinInclude="0" custTypeList="DS,FM,RC,SC,SP,SQ"  freeSKUList="993P|1,994P|1,995P|1,996P|1,997P|1"/>
      <!--<Promo code="000506" startDate="06-01-2013" endDate ="06-01-9913" promotionType="PC_TO_SR_FirstOrder" freeSKUList="6842|1"/>-->
      <!--<Promo code="100401" startDate="11-30-2013" endDate ="05-20-2014" promotionType="Volume" volumeMaxInclude="200" volumeMinInclude="100" freeSKUList="8728|1"/>-->
      <Promo code="SRGrowingPromo" startDate="12-15-2016" endDate ="12-31-2017" promotionType="Special" custTypeList="SR,DS,FM,RC,SC,SP,SQ,PC,CS" freeSKUList="943P|1" />
      <Promo code="SRExcellentPromo" startDate="12-15-2016" endDate ="12-31-2017" promotionType="Special" custTypeList="SR,DS,FM,RC,SC,SP,SQ,PC,CS" freeSKUList="943P|1" />
      <Promo code="ChinaBadgePromo" startDate="02-17-2017" endDate ="12-30-2018" promotionType="Special" hasIncrementaldegree="false" volumeMinInclude="0"  freeSKUList="N330|1,N331|1,N366|1,N333|1"/>
      <Promo code="MAPPromotion" startDate="05-01-2017" endDate ="05-31-2017" promotionType="Order" freeSKUList="N420|1" custTypeList="DS,SC,SP,SQ,FM" custCategoryTypeList="SA,SR1,PSR,DS,SSR,SO,SP,SQ1,SQ2"/>
    </Promotions>
  </PromotionConfig>
</configuration>
