//------------
.mobile-menu{
    display: none;
    @include breakpoint($mobile-range) {
        height: 80%;
        left: 0;
        margin: 0;
        overflow: scroll;
        position: fixed;
        top: 50px;
        width: 100%;
        z-index: 9998;
        
        ul{
            background-color: #85c026;
            border: none;
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            li{
                border-top: 1px solid #71ab18;
                display: block;
                margin: 0;
                ul{
                    display: none;
                    &.shown{
                        background-color: #79AF25;
                        li{border: none;}
                    }
                    li{
                        a{border-bottom: 1px solid #71ab18; padding: 10px 10.5px;}
                    }
                }
                a{
                    color: $white;
                    display: block;
                    padding: 10px 10.5px;
                    .icon{
                        display: block;
                        float: right;
                        padding: 5px 0;
                    }
                }
                &:focus{display: block;}
                &:first-child{border-top: 1px solid #71ab18;}
            }
            &#productCatalog{
                border-top: 1px solid #71ab18;
                margin: 0;
            }
        }
    }
}

.mobile-log-in{
    display: none;
    @include breakpoint($mobile-range) {
        display: block;
        background-color: $white;
        right: -177px;
        margin: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        width: 177px;
        z-index: 9998;
        height: 100%;
        .button{max-width: 154px; width: 100%;}
        #miniCartModule {margin-top: 15px;}
    }
}