<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Guatemala, espanish-->
    <add key="Locale" value="es-GT" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/GTAddressControl.ascx" GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.xml" />
  <APF dueDateDisplayFormat="MMM dd, yyyy" supervisorSku="0909" distributorSku="9909" apfwarehouse="3Y" apfFreightCode="WI" allowAddAPF="true"
       allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout useUSPricesFormat="true" hasTaxPercentage="true" hasEarnBase="true" hasSubTotal="true"
            checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed.ascx"
            currency="USD" currencySymbol="$" requireEmail="true" shipToCountries="GT" eventTicketOrderType="RSO" eventTicketFreightCode="WI"
            eventTicketWarehouseCode="3Y" hasYourPrice="true" hasSubTotalOnTotalsDetailed="false"
            defaultInvoiceOption="WithPackage"
            getShippingInstructionsFromProvider="true" />
  <DO ignoreInventory="false" showHFFLinkOnMenu="true" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary"
      showOrderQuickViewForEventTicket="false" allowDO="true" purchasingLimitRestrictionType="MarketingPlan"
      allowEventPurchasing="true" categoryPageSize="15" dupeCheckDaysInterval="1" retrieveTIN="true"  usesTaxRules="true"
      orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//GlobalDO.xml" hasFAQ="true"/>
  <PickupOrDelivery allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneMaxLen="8" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="false" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="78" pickUpPhoneRegExp="^(\d{6,8})$"/>
  <ShoppingCart maxQuantity="100" displayEarnBase="true" allowBackorder="true" defaultWarehouse="3Y" defaultFreightCode="GTS" priceToShow="TotalRetail" showEarnBaseCurrencySymbol="true" maxLineItemsInCart="20" maxLineItemsInCartForeignMember="20"/>

  <!--
  <Payments useCardRegistry="true" allowSavedCards="True" maxCVV="4" allowDecimal="false" merchantAccountName="HRBLDEECOM" maxCardsToDisplay="1"
            allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="Transferencia:"
            allowDirectDepositPayment="true" directDepositPaymentCodes="DP" 
            directDepositPaymentAliases="Depósito Directo" paymentGatewayControlHasCardData="true"
            hasPaymentGateway="true" paymentGatewayPaymentMethods="CreditCard" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-CR.ascx"
            paymentGatewayInvoker="CredomaticPaymentGatewayInvoker" paymentGatewayApplicationId="3037086" paymentGatewayEncryptionKey="75hQw2q53F8p5KYdSJt3y328ErVuWcNS"
            paymentGatewayUrl="https://credomatic.compassmerchantsolutions.com/api/transact.php" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" disableSale="true" />
  -->
  
  <Payments allowSavedCards="false" maxCVV="4" allowDecimal="false" 
            allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="Transferencia:"
            allowDirectDepositPayment="true" directDepositPaymentCodes="DP" 
            directDepositPaymentAliases="Depósito Directo" 
            paymentGatewayPaymentMethods="CreditCard" 
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"            
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="false"
            suppressCallBack="true" />
  
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>      
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>

</configuration>