<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Bolivia, Spanish -->
    <add key="Locale" value="es-BO" />
  </appSettings>
  
  <Addressing GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" GDOeditAddressxml="/ordering/Controls/Address/AddressFormat/es-BO.xml" scriptPath="/Ordering/Controls/Address/AddressFormat/es-BO.js" />
  <Checkout taxPercentage="16" yourPriceWithAllCharges="true"  useUSPricesFormat="true" hasTaxPercentage="true" currency="USD" currencySymbol="US$ " checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed.ascx" requireEmail="true" shipToCountries="BO" initialShippingAddressFromHMS="false" eventTicketFreightCode="NOF" eventTicketWarehouseCode="B9" eventTicketOrderType="RSO" hasEarnBase="true" hasLogisticCharges="true" hasTaxVat="false" hasLogistics="true" hasRetailPrice="false" specialSKUList="9901" />
  <APF showOrderQuickViewForStandaloneAPF="true" supervisorSku="0909" distributorSku="9909" apfwarehouse="B9" allowAddItemWhenAPFDue="false" allowAddAPF="true" standaloneAPFOnlyAllowed="true" allowDSRemoveAPFWhenDue="false" apfFreightCode="NOF" orderType="RSO" />
  <DO sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowDO="true" allowEventPurchasing="true" usesTaxRules="true" purchasingLimitRestrictionType="MarketingPlan" panelConfiguration="//Ordering//SAMDO.xml" categoryPageSize="15" allowHFF="false" allowTodaysMagazine="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" hasFAQ="true" retrieveTIN="true" phoneSplit="false" dupeCheckDaysInterval="30"/>
  <PickupOrDelivery showShippingMethodForAPFETO="true" shippingInstructionForEventTicket="true" pickupAllowForEventTicket="true" allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" hasFreeFormShippingInstruction="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{6,10})$" pickUpPhoneMaxLen="10" pickupInstructionsHaveDate="false" freeFormShippingInstructionMaxLength="78" pickupNameRegExp="^([a-zA-Z ]*)$" showShippingAddressMessage="true"/>
  <Payments allowSavedCards="false"   allowMultipleCardsInTransaction="false"  allowDirectDepositPayment="true" directDepositPaymentCodes="DD" directDepositPaymentAliases="Transferencia Bancaria:" allowWirePayment="true" useCardRegistry="false" wirePaymentCodes="WR" allowWireForHardCash="true" maxCVV="4" allowDecimal="true" maxCardsToDisplay="2"   />
  
  <ShoppingCart displayProductDetailsColumn="false" showEarnBaseCurrencySymbol="true" maxQuantity="100" defaultWarehouse="B9" defaultFreightCode="MIC" displayRetailPrice="false" displayEarnBase="true" supportLinkedSKU="false" displayDiscount="true" allowBackorder="false" allowBackorderInventorySKUOnly="false" allowBackorderForPickup="false" maxLineItemsInCart="24" maxLineItemsInCartForeignMember="24"/>
  
  

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>      
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>
