<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Argentina, Spanish -->
    <add key="Locale" value="es-AR" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/ARAddressControl.ascx"  />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="32" apfFreightCode="PU" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout taxPercentage="21"   hasTaxPercentage="true" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_SAM.ascx" currency="ARS" currencySymbol="ARS " useHMSCalc="false" requireEmail="true" shipToCountries="AR" initialShippingAddressFromHMS="false" eventTicketFreightCode="PU" eventTicketWarehouseCode="32" eventTicketOrderType="RSO" hasEarnBase="true" hasLocalTax ="true" invoiceOptionsControl="" specialSKUList="9901" getShippingInstructionsFromProvider="true"/>
  <DO sendEmailUsingSubmitOrder="true" allowDO="true" getPurchaseLimitsFromFusion="true" nonThresholdCountryRequiredPurchasingLimits="true" usesTaxRules="true" allowEventPurchasing="true" panelConfiguration="//Ordering//SAMDO.xml" allowHFF="false" allowTodaysMagazine="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" hasFAQ="true" enforcesPurchasingPermissions="true" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" retrieveTIN="true" phoneSplit="true"  purchasingLimitRestrictionType="MarketingPlan" inventoryViewDefault="1"  changeOrderingLeftMenuMyHL3="true" />
  <PickupOrDelivery allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="false" hasFreeFormShippingInstruction="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" isPickupInstructionsRequired="true" pickUpPhoneRegExp="^(\d{10})$" pickUpPhoneMaxLen="10" pickupInstructionsHaveDate="false" freeFormShippingInstructionMaxLength="78" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="32" defaultFreightCode="AG1" displayEarnBase="true" maxLineItemsInCart="15" maxLineItemsInCartForeignMember="15"/>
  
  <!--  
  <Payments allowSavedCards="false" hasPaymentGateway="true" paymentGatewayPaymentMethods="CreditCard" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-AR.ascx" paymentGatewayAlias="Tarjetas de Crédito" allowDirectDepositPayment="true" directDepositPaymentCodes="DD,D2,D4" directDepositPaymentAliases="Transferencia Citibank,Depósito Galicia Cash Management,Depósito Banco Nación" allowWireForHardCash="true" enableInstallments="true" maxCVV="4" allowDecimal="true" paymentGatewayInvoker="DecidirPaymentGatewayInvoker" paymentGatewayApplicationId="00260808" paymentGatewayMode="0" paymentGatewayUrl="https://miguelito.decidir.net/sps-ar/Validar" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" paymentGatewayStyle="2" localInstallmentsSource="true"/>
-->
  
  <Payments allowSavedCards="false"   allowDirectDepositPayment="true" directDepositPaymentCodes="DD,D2,D4" directDepositPaymentAliases="Transferencia Citibank,Depósito Galicia Cash Management,Depósito Banco Nación" 
            allowWireForHardCash="true" enableInstallments="true" maxCVV="4" allowDecimal="true"  localInstallmentsSource="true"
            paymentGatewayAlias="Tarjetas de Crédito"
            paymentGatewayPaymentMethods="CreditCard" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-AR.ascx"
            hasPaymentGateway="true" 
            isUsingHub="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="true"
            suppressCallBack="true" />
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.es_AR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>      
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.es_AR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Taxation.es_AR.TaxationRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ITaxationRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartManagement.es_AR.CartManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartManagementRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>