<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Brazil, Português -->
    <add key="Locale" value="pt-BR" />
    <add key="UseServiceConfiguration" value="false" />    
  </appSettings>

  <Addressing GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.xml"  GDOeditaddress="/Ordering/Controls/Address/BRAddressControl.ascx"  validatePostalCode="true" validateDSFraud="true" pickupControl="/Ordering/Controls/Pickup/GreeceAddDeletePickupControl.ascx"/>
  <APF showOrderQuickViewForStandaloneAPF="false" supervisorSku="0909" distributorSku="9909" apfwarehouse="43" allowAddItemWhenAPFDue="false" allowAddAPF="true" standaloneAPFOnlyAllowed="true" allowDSRemoveAPFWhenDue="false" apfFreightCode="PU" orderType="APF"/>
  <Checkout fraudControlEnabled="true" specialSKUList="U873,X250" displaySubTotalOnMinicart="false" hideRetailPriceOnCOP1="true" hideYourPriceOnCOP1="true" requiresAcknowledgementToSubmit="true" checkoutOptionsControl="~/Ordering/Controls/Checkout/BrCheckOutOptions.ascx" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_BR.ascx" currency="BRL" currencySymbol="R$" requireEmail="true" shipToCountries="BR" eventTicketOrderType="ETO" eventTicketWarehouseCode="43"  useConfigCurrencySymbol="true" modifyRecipientName="false" getShippingInstructionsFromProvider="true"  checkoutTotalsMiniControl="~/Ordering/Controls/Checkout/CheckoutTotalsMini_BR.ascx" showVolumePointRange="true" eventTicketFreightCode="PU" showDeleteItemsHelp="true" displayCourierDetails="true" areaCodeMobileRegExp="^(\d{2})$" mobileNumberRegExp="^(\d{9})$"/>
  <DO sendEmailUsingSubmitOrder="true" hasDeferredProcessing="true" showOrderQuickViewForEventTicket ="false" allowDO="true" usesDiscountRules="true"  purchasingLimitRestrictionType="MarketingPlan" allowEventPurchasing="true" enforcesPurchasingPermissions="true" retrieveTIN="true"  usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//BrGrDO.xml" hasFAQ="true" phoneSplit="true" allowPendingOrders="true" hasPickupFromCourierPreference="false"/>
  <PickupOrDelivery allowShipToCourier="true" allowPickup="true" shippingCodesAreConsolidated="false" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{10,11})$" pickUpPhoneMaxLen="11" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="78" pickupInstructionsHaveRGNumber="true" showDeliveryTimeEstimated="true" allowPickUpFromCourier="false" hasAdditonalNumber="true"/>
  <ShoppingCart displayMessageForBackorder="false" maxQuantity="100" defaultWarehouse="DC" defaultFreightCode="RSP" priceToShow="TotalRetail" allowBackorder="true" allowBackorderInventorySKUOnly="false" allowBackorderForPickup="true" displayRetailPrice="false" displayDiscount="false"  promotionalBeginDate="2013-08-18" maxLineItemsInCart="70" maxLineItemsInCartForeignMember="70" />

  <!--  <Payments allowMultipleCardsInTransaction="true" maxCardsToDisplay="4" restrictedDisplayCards="HI" allowPurchaseForHardCash="true" wirePaymentCodes="WR" allowWireForHardCash="true" enableInstallments="true" maxCVV="4" allowDecimal="true" allowSavedCards="true"
            hasPaymentGateway="true"  paymentGatewayAlias="Transferência Bancária/Boleto" allowWirePayment="false"
            paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_pt-BR.ascx"
            paymentGatewayPaymentMethods="WireTransfers" paymentGatewayInvoker="BrazilPaymentGateWayInvoker"
            paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" paymentGatewayReturnUrlDeclined="/Ordering/Checkout.aspx"
            paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_BR.ascx" addressRequiredForNewCard="true"
            fControlValidation="true" paymentInfoControl="~/Ordering/Controls/Payments/PaymentInfoControl_BR.ascx"
            hideItau="false" hideBankSlip="false" hideBradesco="true" hideBancodoBrazil="false"
            disableItau ="false" disableBankSlip ="false"  turnOnBrasPagBankSlip="true" disableBradesco ="true" disableBancodoBrazil ="false" turnOnTivitBankSlip="false" hideVisaElectron="true" />
  -->
  
  <Payments allowMultipleCardsInTransaction="true" maxCardsToDisplay="4" restrictedDisplayCards="HI" allowPurchaseForHardCash="true" wirePaymentCodes="WR" allowWireForHardCash="true" enableInstallments="true" maxCVV="4" allowDecimal="true" allowSavedCards="true" paymentGatewayAlias="Transferência Bancária/Boleto" allowWirePayment="false" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_pt-BR.ascx" paymentGatewayPaymentMethods="WireTransfers" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_BR.ascx" addressRequiredForNewCard="true" fControlValidation="true" paymentInfoControl="~/Ordering/Controls/Payments/PaymentInfoControl_BR.ascx" hideItau="false" hideBankSlip="false" hideBradesco="true" hideBancodoBrazil="false" disableItau ="false" disableBankSlip ="false"  turnOnBrasPagBankSlip="true" disableBradesco ="true" disableBancodoBrazil ="false" turnOnTivitBankSlip="false" hideVisaElectron="false"
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="true"
            suppressCallBack="false" />
  
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.pt_BR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.SKULimitations.pt_BR.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="7" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="8" className="MyHerbalife3.Ordering.Rules.Promotional.pt_BR.PromotionalRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.Inventory.pt_BR.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.pt_BR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Discount.pt_BR.DiscountRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IDiscountRule"/>
    </RulesModules>
  </Rules>

</configuration>