<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="fi-FI" />
  </appSettings>

  <Addressing GDOeditAddressxml="/Ordering/Controls/Address/AddressFormat/fi-FI.xml" scriptPath="/Ordering/Controls/Address/AddressFormat/address.js"  validatePostalCode="false" />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="49" apfFreightCode="NOF" allowAddAPF="true" allowDSRemoveAPFWhenDue="true"  />
  <Checkout currency="EUR" currencySymbol="€" requireEmail="true" shipToCountries="FI" eventTicketOrderType="RSO" eventTicketWarehouseCode="49"
      getShippingInstructionsFromProvider="true" hasEarnBase="true"/>
  <DO ignoreInventory="false" allowDO="true" purchasingLimitRestrictionType="MarketingPlan" allowEventPurchasing="true" categoryPageSize="15" dupeCheckDaysInterval="1" usesTaxRules="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//GlobalDO.xml" allowHFF="false" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" showHFFLinkOnMenu="true" allowTodaysMagazine="true" todayMagazineMax="3" hasFAQ="true"/>
  <PickupOrDelivery allowPickup="false" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true"/>
  <Payments maxCVV="3" allowDecimal="true" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" merchantAccountName="HRBLFIECOM" maxCardsToDisplay="1" wirePaymentAliases="Siirto"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="49" defaultFreightCode="FIA" allowBackorder="true" displayEarnBase="true" supportLinkedSKU="true" priceToShow="TotalRetail"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>