<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        
        <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        
        <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        
    </configSections>

    <appSettings>
        <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
        <add key="Locale" value="en-JM" />
    </appSettings>

    <Addressing GDOeditaddress="/Ordering/Controls/Address/NorthAmericaAddressControl.ascx"  />
    <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="J1" apfFreightCode="PU3" allowAddItemWhenAPFDue="false" allowAddAPF="true" allowDSRemoveAPFWhenDue="false" standaloneAPFOnlyAllowed="false" />
    <Checkout hasEarnBase="true" specialSKUList="9942,9943" currency="USD" requiresAddressConfirmation="true" currencySymbol="$" shipToCountries="JM" eventTicketWarehouseCode="J1" eventTicketFreightCode="PU3" eventTicketOrderType="RSO" requiresAcknowledgementToSubmit="true" requiresAcknowledgementToSubmitWireOnly="true" />
    <DO showPopupOnPage="false" allowToDispalyCCMessage="true" sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowShipping="false" showOrderQuickViewForEventTicket="false" allowDO="true" purchasingLimitRestrictionType="MarketingPlan" showTotalItems="true" orderMonthFormat="MMMyyyy" orderMonthLongFormat="MMMyyyy" allowEventPurchasing="true"  retrieveTIN="false" panelConfiguration="//Ordering//GlobalDO.xml"
        HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" allowTodaysMagazine="false" allowHFF="false" phoneSplit="true" hasFAQ="true" showHFFLinkOnMenu="true" />
    <PickupOrDelivery allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" isPickupInstructionsRequired="true" pickUpPhoneRegExp="^(\d{10})$" pickUpPhoneMaxLen="10"/>
    <Payments allowMultipleCardsforNAMerrorMessage="true" allowDirectDepositPayment="true"  directDepositPaymentCodes="D1" directDepositPaymentAliases="National Commerce Bank Jaimaica JNCB CFC # 354241226"
              allowWirePayment="true"  wirePaymentCodes="D2" wirePaymentAliases="Western Union G.K.R.S Herbalife JD Acc# 926-2454 Customer Service Local" allowWireForHardCash="true"
              allowMultipleCardsInTransaction="true" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_JM.ascx" useCardRegistry="false" maxCVV="4" allowDecimal="true" maxCardsToDisplay="2" addressRequiredForNewCard="true" allowPurchaseForHardCash="true"/>
    <ShoppingCart maxQuantity="200" defaultWarehouse="J1" defaultFreightCode="PU3" allowBackorder="false" allowBackorderInventorySKUOnly="false" displayEarnBase="true" supportLinkedSKU="false"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>