<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="it-IT" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/ITAddressControl.ascx" GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="25" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout specialSKUList="K126,X990" eventTicketOrderType="ETO" currency="EUR" currencySymbol="€" requireEmail="true" shipToCountries="IT" shippingAddressRequiredForPickupOrder="true" checkoutTotalsMiniControl="~/Ordering/Controls/Checkout/CheckoutTotalsMini_IT.ascx" eventTicketWarehouseCode="25" hasEarnBase="true"/>
  <DO hasAdditionalLimits="true" saveDSSubType="true" allowDO="true"  allowEventPurchasing="true" nonThresholdCountryRequiredPurchasingLimits="true" purchasingLimitRestrictionType="Annually" getPurchaseLimitsFromFusion="true" purchasingLimitRestrictionPeriod="Annually" retrieveTIN="true" usesTaxRules="true" maxTaxableEarnings="188137.00" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits_IT.ascx" HFFHerbalifeSku="E584" HFFHerbalifeDefaultValue="1" allowHFF="true" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" allowTodaysMagazine="true" todayMagazineMax="3"  hasFAQ="true" usesOrderManagementRules="true"/>
  <PickupOrDelivery isPickupInstructionsRequired="true" allowPickup="true" pickupInstructionsHaveDate="true" pickupInstructionsHavePhone="true" pickupInstructionsHaveName="true" pickUpPhoneMaxLen="12" pickUpPhoneRegExp="^(\d{9,12})$"/>
  <Payments allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" maxCVV="3" allowDecimal="true" merchantAccountName="HRBLITALYECOM" maxCardsToDisplay="1"  wirePaymentAliases="Bonifico Bancario:"/>
  <ShoppingCart  maxQuantity="100" defaultWarehouse="I2" defaultFreightCode="TRA" allowBackorder="true" priceToShow="TotalRetail" displayEarnBase="true" promotionalSku="931P,932P,933P" promotionalBeginDate="2017-04-06" promotionalEndDate="2017-04-30" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.APF.it_IT.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.it_IT.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="7" className="MyHerbalife3.Ordering.Rules.SKULimitations.it_IT.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="8" className="MyHerbalife3.Ordering.Rules.Promotional.it_IT.PromotionalRulesBag" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.IT.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.it_IT.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.it_IT.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Taxation.it_IT.TaxationRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ITaxationRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.SavedCartManagement.it_IT.SavedCartManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ISavedCartManagementRule"/>
      <!--<addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.Promotional.it_IT.PromotionalRulesBag" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ISavedCartManagementRule"/>-->
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Promotional.it_IT.PromotionalRulesBag" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPromoRule"/>
    </RulesModules>
  </Rules>
</configuration>