<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>

    <appSettings>
        <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.  Serbia-->
        <add key="Locale" value="hr-BA" />
    </appSettings>

    <Addressing GDOeditaddress="/Ordering/Controls/Address/RSAddressControl.ascx"  scriptPath="/Ordering/Controls/Address/AddressFormat/address.js"  />
    <APF standaloneAPFOnlyAllowed ="true" supervisorSku="0909" distributorSku="9909" apfwarehouse="BD" allowAddAPF="true" allowAddItemWhenAPFDue="false" allowDSRemoveAPFWhenDue="true" apfFreightCode="HR" />
    <Checkout displayTransactiontime="false" currency="BAM" currencySymbol=" BAM" currencySymbolPosition="Trailing" requireEmail="true" shipToCountries="BA" eventTicketOrderType="RSO" eventTicketWarehouseCode="BD" eventTicketFreightCode="NOF" yourPriceWithAllCharges="true" hideFreightCharges="true" hasEarnBase="true" hasSubTotal="true" requiresAcknowledgementToSubmit="true" hideShippingCharges="true" />
    <DO getPurchaseLimitsFromFusion="true"  sendEmailUsingSubmitOrder="true" sendEmailUsingSubmitOrderForWire="true" allowShipping="true" ignoreInventory="false" allowDO="true" purchasingLimitRestrictionType="Annually" allowEventPurchasing="true"  retrieveTIN="true"  usesTaxRules="false" orderMonthFormat="MM/yyyy" orderMonthLongFormat="MMM yyyy" allowHFF="false" allowTodaysMagazine="false" hasFAQ="true" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" showHFFLinkOnMenu="true" showHFFLinkOnETO="true" orderMonthFormatLocalProvider="false" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx"/>
    <PickupOrDelivery pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{9,10})$" pickUpPhoneMaxLen="10" pickupInstructionsHaveDate="true" isPickupInstructionsRequired="true" allowDaysPickUp="5" shippingMethodNeedsDisplay="true" hasFreeFormShippingInstruction="false" allowPickup="true"/>
    <ShoppingCart maxQuantity="100" defaultWarehouse="BD" defaultFreightCode="HR" allowBackorder="false" priceToShow="TotalRetail" allowBackorderForPickup="false" supportLinkedSKU="true" />
    <Payments allowSavedCards="false" hasPaymentGateway="true" paymentGatewayPaymentMethods="CreditCard"  paymentGatewayAlias="Kreditnu karticu" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="ЖИЦА:"  
         isUsingHub="true"         
         paymentGatewayInvoker="PGHPaymentGatewayInvoker"
         paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
         paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"/>   
  
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.hr_BA.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.hr_BA.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.hr_BA.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.hr_BA.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
    </RulesModules>
  </Rules>
</configuration>