<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.  Serbia-->
    <add key="Locale" value="sr-RS" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/RSAddressControl.ascx" GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" scriptPath="/Ordering/Controls/Address/AddressFormat/address.js"  validatePostalCode="false" />
  <APF standaloneAPFOnlyAllowed ="true" supervisorSku="0909" distributorSku="9909" apfwarehouse="SR" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="HR" />
  <Checkout displayTransactiontime="true" currency="RSD" currencySymbol=" RSD" currencySymbolPosition="Trailing" requireEmail="true" shipToCountries="RS" eventTicketOrderType="RSO" eventTicketWarehouseCode="SR" eventTicketFreightCode="HR" yourPriceWithAllCharges="true" hideFreightCharges="true" hasEarnBase="true" hasSubTotal="false" requiresAcknowledgementToSubmit="true" hideShippingCharges="true"/>
  <DO sendEmailUsingSubmitOrder="false" sendEmailUsingSubmitOrderForWire="true" ignoreInventory="false" allowDO="true" getPurchaseLimitsFromFusion="true" purchasingLimitRestrictionPeriod="Annually" purchasingLimitRestrictionType="Annually" allowEventPurchasing="true"  retrieveTIN="true"  usesTaxRules="false" orderMonthFormat="MM/yyyy" orderMonthLongFormat="MMM yyyy" allowHFF="false" allowTodaysMagazine="false" hasFAQ="true" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" showHFFLinkOnMenu="true" showHFFLinkOnETO="true" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" orderMonthFormatLocalProvider="false"/>
  <PickupOrDelivery pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{9,10})$" pickUpPhoneMaxLen="10" pickupInstructionsHaveDate="true" isPickupInstructionsRequired="true" allowDaysPickUp="5" shippingMethodNeedsDisplay="true"/>
  <Payments allowSavedCards="false" hasPaymentGateway="true" paymentGatewayPaymentMethods="CreditCard"  paymentGatewayAlias="CreditCard" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="ЖИЦА:"  maxCVV="4" allowDecimal="true" paymentGatewayInvoker="RS_BancaintesaPaymentGateWayInvoker" paymentGatewayUrl="" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx"  paymentGatewayReturnUrlDeclined="/Ordering/Checkout.aspx?Status=Declined" showPaymentInfoForPaymentGatewayInSummary="true" paymentsSummaryControl="~/Ordering/Controls/Checkout/PaymentsSummary_RS.ascx" paymentDeclinedInfoControl="~/Ordering/Controls/Checkout/PaymentDeclinedInfo.ascx" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="SR" defaultFreightCode="HR" allowBackorder="true" priceToShow="TotalRetail" displayEarnBase="true" allowBackorderForPickup="true" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.sr_RS.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.sr_RS.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
    </RulesModules>
  </Rules>
</configuration>
