<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="SeamlessLogin" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.SeamlessLoginConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="SpecialMessaging" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.SpecialMessagingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="MyHerbalife" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.MyHerbalifeConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="es-PR" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/NorthAmericaAddressControl.ascx"  validatePostalCode="true" pickupControl="/Ordering/Controls/Pickup/NAMAddDeletePickupControl.ascx"/>
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="PX" allowAddItemWhenAPFDue="true" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout allowZeroDiscount="true"  currency="USD" requiresAddressConfirmation="true" currencySymbol="$" shipToCountries="PR" eventTicketFreightCode="NOF" eventTicketWarehouseCode="PX" requiresAcknowledgementToSubmit="true" requiresAcknowledgementToSubmitWireOnly="true" hasEarnBase="true" eventTicketOrderType="ETO" checkoutOptionsControl="~/Ordering/Controls/Checkout/GrCheckOutOptions.ascx" displayCourierDetails="true" savePickupFromCourierPreferences="true" getShippingInstructionsFromProvider="true" includePUNameForPUFromCourier="true"/>
  <DO hasPickupFromCourierPreference="true" showPopupOnPage="false" allowToDispalyCCMessage="true" hasMLMCheck="true" sendEmailUsingSubmitOrder="true" ignoreInventory="false"  showOrderQuickViewForEventTicket="false" allowDO="true" purchasingLimitRestrictionType="MarketingPlan" showTotalItems="true" orderMonthFormat="MMMyyyy" orderMonthLongFormat="MMMyyyy" allowEventPurchasing="true"  retrieveTIN="false" panelConfiguration="//Ordering//BrGrDO.xml"
      HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" allowTodaysMagazine="false" allowHFF="true" phoneSplit="true" hasFAQ="true" showHFFLinkOnMenu="true" HFFHerbalifeSku="F356" extendDualOrderMonth="4"/>
  <PickupOrDelivery autoDisplayPickUpFromCourierPopUp="true" allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{10})$" pickUpPhoneMaxLen="10" allowPickUpFromCourier="true" hasGoogleMap="true" mapURL="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;callback=initialize" zipCodeLookupRegExp="^(\d{4,5})$" pickupMethodHaveDropDown="true"/>
  <Payments allowMultipleCardsforNAMerrorMessage="true" allowWirePayment="true"  wirePaymentCodes="WR" wirePaymentAliases="Western Union G.K.R.S Herbalife JD Acc# 926-2454 Customer Service Local" allowWireForHardCash="true" allowPurchaseForHardCash="true"
      useCardRegistry="false" allowMultipleCardsInTransaction="true" maxCardsToDisplay="2"  maxCVV="4" allowDecimal="true"
      paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_JM.ascx" addressRequiredForNewCard="true" />
  <SeamlessLogin foreignSessionKeys="JSESSIONID,ATG_SESSION_ID" />
  <ShoppingCart skuQuantityLimitPeriodByDay="3" maxQuantity="200" defaultWarehouse="PX" defaultFreightCode="FED" allowBackorder="true" allowBackorderInventorySKUOnly="false" displayEarnBase="true" supportLinkedSKU="false"/>
  <SpecialMessaging subscriptionExpirationThreshold="60.00:00:00" payMethodExpireationThreshold="60.00:00:00" />
  <MyHerbalife forgotPasswordUrl="" changePinUrl="" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
    </RulesModules>
  </Rules>
</configuration>