<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Greece, Έλληνες-->
    <add key="Locale" value="ro-RO" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/ROAddressControl.ascx"  />
  <APF supervisorSku="0909" distributorSku="9909" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout hidePHShippingForETO="true" currency="RON" currencySymbol="RON" currencySymbolPosition="Trailing" requireEmail="true" shipToCountries="RO" 
        eventTicketWarehouseCode="RA" hasYourPrice="true" deliveryMethodControl="~/Ordering/Controls/DeliveryMethod/ITDeliveryMethod.ascx" getShippingInstructionsFromProvider="true"
        yourPriceWithAllCharges="false" hasEarnBase="true"/>
  <DO volumeLimitsPerOrder="500" allowDO="true" allowEventPurchasing="true" purchasingLimitRestrictionPeriod="Annually" getPurchaseLimitsFromFusion="true" purchasingLimitRestrictionType="Annually" retrieveTIN="true" usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" allowTodaysMagazine="true" todayMagazineMax="5" hasFAQ="true"  purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx"/>
  <PickupOrDelivery allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{9,10})$" pickUpPhoneMaxLen="10" pickupInstructionsHaveDate="true" shippingMethodsHaveDropDown="true"/>
  <Payments allowSavedCards="false" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" allowDecimal="true" 
						wirePaymentAliases="Μεταφορά:" 
            paymentGatewayPaymentMethods="CreditCard"
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="false" 
            suppressCallBack="false"  />  
  
  <ShoppingCart supportLinkedSKU="true" maxQuantity="100" defaultWarehouse="RA" defaultFreightCode="ROF" allowBackorder="true" allowBackorderForPickup="true" priceToShow="TotalRetail" displayEarnBase="true"/>
  
  

	<Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.ro_RO.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.ro_RO.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.ro_RO.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.ro_RO.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
    </RulesModules>
  </Rules>

</configuration>
