<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="th-TH" />
  </appSettings>

  <Addressing GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" GDOeditAddressxml="/ordering/Controls/Address/AddressFormat/th-TH.xml" scriptPath="/Ordering/Controls/Address/AddressFormat/en-MY.js" />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="06" initalApfwarehouse="06" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="NOF" allowAddItemWhenAPFDue="true"/>
  <Checkout  currency="THB" currencySymbol="฿ " useConfigCurrencySymbol="true" eventTicketOrderType="ETO" shipToCountries="TH" shippingAddressRequiredForPickupOrder="true" eventTicketWarehouseCode="06"  hidePHShippingForETO="true" showVolumePoinsForETO="true" hasPickupCharge="true"  getShippingInstructionsFromProvider="true" mobileNumberRegExp="^(\d{9,10})$" hasEarnBase="true"/>
  <DO volumeLimitsPerOrder="1050" purchasingLimitRestrictionPeriod="PerOrder" sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowEventPurchasing="true" allowDO="true" dupeCheckDaysInterval="30" purchasingLimitRestrictionType="Monthly" retrieveTIN="true"   usesTaxRules="true" orderMonthFormat="MMM yyyy"  orderMonthLongFormat="MMM yyyy" allowHFF="false" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" allowTodaysMagazine="false" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" hasFAQ="true" phoneSplit="true" showOrderQuickViewForEventTicket ="false" showHFFLinkOnMenu="true" usesOrderManagementRules="true" useGregorianCalendar="true" />
  <PickupOrDelivery isPickupInstructionsRequired="true" pickUpPhoneRegExp="^\d{9,10}$" pickUpPhoneMaxLen="10" allowPickup="true" pickupInstructionsHavePhone="true" pickupInstructionsHaveName="true" shippingMethodNeedsDisplay="true" shippingInstructionsHaveDate="false" shippingInstructionsHaveTime="false" pickupInstructionsHaveDate="false" displaySingleTextBoxMobileNo="true" hasFreeFormShippingInstruction="true" />
  <Payments allowSavedCards="true" allowMultipleCardsInTransaction="false" useCardRegistry="false" allowWirePayment="true" wirePaymentCodes="W1,W2,W3,W4" maxCVV="4" maxCardsToDisplay="4" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid.ascx"
      hasPaymentGateway="false"  paymentGatewayPaymentMethods="CreditCard" merchantAccountName="hlthcybersource" use3DSecuredCreditCard="true"
            wirePaymentAliases="ธนาคารกรุงเทพ (สาขาประตูน้ำ) เลขที่บัญชี 106 3 143745 บัญชีกระแสรายวัน,ธนาคารกสิกร (สาขาราชดำริ) เลขที่บัญชี 042 1 11540 0 บัญชีกระแสรายวัน,ธนาคารไทยพาณิชย์ (สาขาชิดลม) เลขที่บัญชี 0013 489544 บัญชีกระแสรายวัน,ธนาคารกสิกร (สาขาปาร์คเวนเชอร์) เลขที่บัญชี 709 1 04972 9 บัญชีกระแสรายวัน" allowWireForHardCash="true" />
  
  <ShoppingCart maxQuantity="100" defaultWarehouse="T5" defaultFreightCode="BKF" allowBackorder="false"  displayDiscount="false" displayEarnBase="true" hasVolumePoints="true" hasDiscountedPriceForEventTicket="false" displayVolumePointsForEventTicket="false" displayMessageForBackorder="false" />
  
  

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.th_TH.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.th_TH.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.th_TH.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.th_TH.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.OrderManagement.th_TH.OrderManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IOrderManagementRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>
