<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <appSettings>
        <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Mongolia, Mongolian-->
        <add key="Locale" value="mn-MN" />
    </appSettings>
    <Addressing GDOeditAddressxml="/Ordering/Controls/Address/AddressFormat/mn-MN.xml" />
    <APF supervisorSku="0909" distributorSku="9909" orderType="RSO" apfwarehouse="MG" standaloneAPFOnlyAllowed="true" allowDSRemoveAPFWhenDue="false" apfFreightCode="NOF" allowAddAPF="true"/>
    <Checkout currency="MNT" currencySymbol="₮" requireEmail="true" shipToCountries="MN" getShippingInstructionsFromProvider="true" eventTicketOrderType="RSO" eventTicketWarehouseCode="MG" useConfigCurrencySymbol="true" modifyRecipientName="false" hasEarnBase="true" useExtendedOrderCategory="true" checkoutOptionsControl="~/Ordering/Controls/Checkout/GrCheckOutOptions.ascx" displayCourierDetails="true" eventTicketFreightCode="NOF" useCommaWithoutDecimalFormat="true" currencySymbolPosition="Trailing"/>
    <DO getPurchaseLimitsFromFusion="true" sendEmailUsingSubmitOrder="true" allowDO="true"  allowEventPurchasing="true" purchasingLimitRestrictionType="Annually" thresholdPeriod="25" retrieveTIN="true"  usesTaxRules="true" orderMonthFormatLocalProvider ="true" orderMonthFormat="MMM yyyy"  orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//BrGrDO.xml" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" showHFFLinkOnMenu="false"  allowTodaysMagazine="true" todayMagazineMax="1" todayMagazineSku="5921" hasFAQ="true" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx"/>
    <PickupOrDelivery allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHaveDate="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{7,10})$" pickUpPhoneMaxLen="10" pickupLocationsOrderedList="true" allowDaysPickUp="14" isPickupInstructionsRequired="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" />
    <Payments  allowDirectDepositPayment="false" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="false" maxCVV="4" allowDecimal="true" allowSavedCards="false"  wirePaymentAliases="Transferência:"
              paymentGatewayPaymentMethods="CreditCard"  paymentGatewayAlias="Картаар"               
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="false"
            suppressCallBack="false"
  />             
  
    <ShoppingCart maxQuantity="100" defaultWarehouse="MG" defaultFreightCode="MN1" priceToShow="TotalRetail" displayEarnBase="true" supportLinkedSKU="true" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.mn_MN.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.mn_MN.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.mn_MN.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.mn_MN.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
    </RulesModules>
  </Rules>
</configuration>
