<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="sk-SK" />
  </appSettings>
  
  <Addressing GDOeditAddressxml="/Ordering/Controls/Address/AddressFormat/sk-SK.xml" GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml"/>
  <APF supervisorSku="0909" distributorSku="9909"  apfFreightCode ="NOF" apfwarehouse="SO" allowAddItemWhenAPFDue="true" allowAddAPF="true" allowDSRemoveAPFWhenDue="true"
       dueDateDisplayFormat="d.M.yyyy"/>
  <Checkout currency="EUR" currencySymbol="EUR " shipToCountries="SK" eventTicketFreightCode="NOF" defaultInvoiceOption="WithPackage"
             requireEmail="true" getShippingInstructionsFromProvider="true" eventTicketWarehouseCode="SO" hasSummaryEarnBase="true" hasEarnBase="true" requiresAcknowledgementToSubmit="true"/>
  <DO allowDO="true" sendEmailUsingSubmitOrder="true" showTotalItems="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" retrieveTIN="true" 
      purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" allowEventPurchasing="true" showHFFBox="false" purchasingLimitRestrictionPeriod="Annually" purchasingLimitRestrictionType="Annually" hasFAQ="true" showHFFLinkOnMenu="true" nonThresholdCountryRequiredPurchasingLimits="true" orderMonthFormatLocalProvider="false" getPurchaseLimitsFromFusion="true"/>
  <PickupOrDelivery shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" hasFreeFormShippingInstruction="true" 
                    allowPickup="true" pickupInstructionsHaveName="true"  pickupInstructionsHaveDate="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{7,9})$" pickUpPhoneMaxLen="9" isPickupInstructionsRequired="true"/>
  <Payments hasPaymentGateway="false" paymentGatewayPaymentMethods="CreditCard" maxCardsToDisplay="1" maxCVV="4" allowDecimal="true"
          allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" 
          paymentGatewayAlias="Saferpay"  allowMultipleCardsInTransaction="false" use3DSecuredCreditCard="true" use3DVerification="true" allowSavedCards="true" />
  <ShoppingCart  maxQuantity="100" defaultWarehouse="SO" supportLinkedSKU="true" allowBackorder="true" priceToShow="TotalRetail" displayEarnBase="true" defaultFreightCode="NOF" />
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.SK.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>