// =============
// Forms
// -----
// 
// 
//==============
 form {} fieldset {
    margin-bottom: 20px;
} 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 7px;
    outline: none;
    color: $charcoalgrey;
    background: $lightgrey;
    border: 1px solid $lightgrey;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

select { padding: 4px 7px; }

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover,
select:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
textarea[disabled] {
    background-color: $offwhite;
    color: $grey;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border: 1px solid $offwhite;
    color: $charcoalgrey;
    background: $offwhite;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}
textarea {
    min-height: 90px;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
label,
legend {
    color: $darkgrey;
    font-size: 14px;
}
select {
    background: $lightgrey url(/images/dropdown-arrow.png) no-repeat right 0;
    -webkit-appearance: none;
    -moz-appearance:none;
}
select:hover {
    background: $lightgrey url(/images/dropdown-arrow.png) no-repeat right -21px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

label span,
legend span {
    font-weight: normal;
    font-size: 14px;
    color: $charcoalgrey;
}
label.requiredField:before {
    content: "*";
    color: red;
}
/* Form errors */

form input.error {
    border: 1px solid $lightred;
    background: $lightred;
    margin-bottom: 2px;
}
form span.error {
    color: $red;
    font-size: 12px;
    margin-top: 5px;
}
/* Herbalife Custom Forms
    ================================================== */


@include with-layout($large-gutter) {

.hl-form {
// put a wrap here! 

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 15px;
            &.half {
                @include span(2);
            }
            input {
                display: inline-block;
                &.increment {
                    @include span(3);
                    margin-right: 0;
                }
                &.with-icon {
                    @include span(3);
                    margin-right: 0;
                }
            }
            a {
                margin-left: 12px;
                vertical-align: middle;
            }
            @include breakpoint($breakpoint-desktop) {
                @include gallery(4 of 12);
            }
            @include breakpoint($breakpoint-tablet) {
                @include gallery(4 of 8);
            }
        }
        ul.toggles {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                @include gallery(1 of 4);
                margin-bottom: 20px;
                background-color: $lightgrey;
                border: 1px solid $grey;
                padding: 10px 0;
                text-align: center;
                cursor: pointer;
                &.icon {
                    padding: 10px 0 0 0;
                    span {
                        font-size: 12px;
                    }
                    i {
                        font-size: 24px;
                    }
                }
                &.half {
                    @include gallery(2 of 4);
                }
                &.full {
                    @include span(4 last);
                    margin-right: 0;
                }
                &:hover {
                    background-color: $offwhite;
                }
                &:active,
                &.active {
                    background-color: $lightblue;
                    border: 1px solid $blue;
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
    h4 {
        margin: 10px 0;
        font-weight: bold;
        @include breakpoint($breakpoint-tablet) {
            display: block;
        }
    }
    .button-set {
        float: right;
        text-align: right;
        @include breakpoint($breakpoint-mobile) {
            @include span(4 of 4);
            display: block;
            margin-top: 10px;
            button {
                width: 100%;
            }
        }
    }
    button.counter {
        margin: 5px 10px 0 0;
        float: none;
        i {
            font-size: 16px;
        }
    }
}
}