// =============
// Old Grid
// -----
// This file contains the old Grid
//
//==============

//==========
// BASE GRID
//==========
.container {
    @include container(12);
}

#hrblSiteWrapper {
    min-width: 940px;
}

.col1 {
    width: 8.33%;
}

.col2 {
    width: 16.66%;
}

.col3, .quarter {
    width: 25%;
}

.col4, .third {
    width: 33.33%;
}

.col5 {
    width: 41.66%;
}

.col6, .half {
    width: 50%;
}

.col7 {
    width: 58.33%;
}

.col8, .two-thirds {
    width: 66.66%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33%;
}

.col11 {
    width: 91.66%;
}

.col12 {
    width: 100%;
}

body .twoColumns,
body .threeColumns,
body .fourColumns,
body .columnCont {
    letter-spacing: -4px;
    font-size: 0;
}

.columnCont > * {
    letter-spacing: normal;
    font-size: 14px;
}

.twoColumns > *,
.threeColumns > *,
.fourColumns > *,
.myhl3 [class*="col1"],
.myhl3 [class*="col2"],
.myhl3 [class*="col3"],
.myhl3 [class*="col4"],
.myhl3 [class*="col5"],
.myhl3 [class*="col6"],
.myhl3 [class*="col7"],
.myhl3 [class*="col8"],
.myhl3 [class*="col9"],
.myhl3 [class*="col10"],
.myhl3 [class*="col11"],
.myhl3 [class*="col12"],
.myhl3 [class*="quarter"],
.myhl3 [class*="third"],
.myhl3 [class*="half"],
.myhl3 [class*="two-thirds"] {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.twoColumns > * {
    width: 50%;
}

.threeColumns > * {
    width: 33.33%;
}

.fourColumns > * {
    width: 25%;
}

.twoColumns .twoColumns {
    padding: 0;
}

[class*="isMobile"] {
    display: none;
}

//==========
//RESPONSIVE CSS
//==========

@media only screen and (max-width: $desktop) {
    /* MAIN WRAPPER STYLES */
    #hrblSiteWrapper, .container {
        min-width: 300px;
        width: 100%;
    }

    /* Doing override with double ID's in purpose */
    /*#hrblSiteWrapper#hrblSiteWrapper .isMobile {
        display: inline-block;
    }*/

    #hrblSiteWrapper#hrblSiteWrapper .notMobile
    /*#hrblSiteWrapper#hrblSiteWrapper .notMobile-md*/ {
        display: none;
    }

    /*.twoColumns > *{ width: 100%; }
    .threeColumns > *{ width: 100%; }
    .fourColumns > *{ width: 100%; }*/

    .twoColumns-md > * {
        width: 50%;
    }

    .threeColumns-md > * {
        width: 33.33%;
    }

    .fourColumns-md > * {
        width: 25%;
    }

    .col1-md {
        width: 8.33%;
    }

    .col2-md {
        width: 16.66%;
    }

    .col3-md, .quarter-md {
        width: 25%;
    }

    .col4-md, .third-md {
        width: 33.33%;
    }

    .col5-md {
        width: 41.66%;
    }

    .col6-md, .half-md {
        width: 50%;
    }

    .col7-md {
        width: 58.33%;
    }

    .col8-md, .two-thirds-md {
        width: 66.66%;
    }

    .col9-md {
        width: 75%;
    }

    .col10-md {
        width: 83.33%;
    }

    .col11-md {
        width: 91.66%;
    }

    .col12-md {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    #hrblSiteWrapper#hrblSiteWrapper .notMobile-sm {
        display: none;
    }

    .col1-sm {
        width: 8.33%;
    }

    .col2-sm {
        width: 16.66%;
    }

    .col3-sm, .quarter-sm {
        width: 25%;
    }

    .col4-sm, .third-sm {
        width: 33.33%;
    }

    .col5-sm {
        width: 41.66%;
    }

    .col6-sm, .half-sm {
        width: 50%;
    }

    .col7-sm {
        width: 58.33%;
    }

    .col8-sm, .two-thirds-sm {
        width: 66.66%;
    }

    .col9-sm {
        width: 75%;
    }

    .col10-sm {
        width: 83.33%;
    }

    .col11-sm {
        width: 91.66%;
    }

    .col12-sm {
        width: 100%;
    }
}