<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Shared.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Russia-->
    <add key="Locale" value="ru-RU" />
  </appSettings>

  <Addressing GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.xml"  GDOeditaddress="/Ordering/Controls/Address/RUAddressControl.ascx" />
  <APF supervisorSku="0909" distributorSku="9909" />
  <Checkout currency="RUB" currencySymbol="RUB " requireEmail="true" shipToCountries="RU" eventTicketOrderType="ETO" eventTicketWarehouseCode="5B"  useConfigCurrencySymbol="true" modifyRecipientName="false" getShippingInstructionsFromProvider="true" hasEarnBase="false" useExtendedOrderCategory="true"/>
  <DO allowDO="true" allowEventPurchasing="false" purchasingLimitRestrictionType="Annually" retrieveTIN="true" categoryPageSize="15" dupeCheckDaysInterval="1" usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//GlobalDO_PCAD.xml" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" hasFAQ="true" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" orderMonthEnabled ="false"/>
  <PickupOrDelivery allowPickup="true" shippingCodesAreConsolidated="true"  shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="true" pickupInstructionsHaveName="true" pickupInstructionsHaveDate="true" pickupInstructionsHavePhone="true" />
  <Payments allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" maxCVV="4" allowDecimal="true" allowSavedCards="false" maxCardsToDisplay="1" wirePaymentAliases="Transferência:" paymentGatewayPayCode="IO" hasPaymentGateway="true" paymentGatewayInvoker="ChronoPayPaymentGatewayInvoker" paymentGatewayPaymentMethods="CreditCard" paymentGatewayUrl="https://payments.chronopay.com/" paymentGatewayEncryptionKey="465g43g32h9v3mwja0" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" paymentGatewayReturnUrlDeclined="/Ordering/Checkout.aspx"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="5B" defaultFreightCode="RUX" priceToShow="TotalRetail" />
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className=" MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className=" MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className=" MyHerbalife3.Ordering.Rules.PurchasingLimits.ru_RU.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className=" MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className=" MyHerbalife3.Ordering.Rules.PurchasingLimits.ru_RU.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
    </RulesModules>
  </Rules>
</configuration>