// =============
// Links
// -----
// This File contains styling for the compondent: links, ALL OF THEM!
//
//==============
a:link {
    color: $herbalifegreen;
    text-decoration: none !important;
}
a:visited {
    color: $herbalifegreen;
}
a:hover {
 //   text-decoration: underline !important;
}