.player1_html5_api{


.vjs-big-play-button::before {
    content: '\e001' !important;
    color: $herbalifegreen !important;
    display: block !important;
    font-family: VideoJS !important;
    font-size: 30px !important;
    line-height: 80px !important;
    margin: 36px auto !important;
    opacity: .7 !important;
    text-align: center !important;
    width: 24px !important;
}


.vjs-big-play-button {
    width: 80px !important;
    height: 80px !important;
    position: relative !important;
}


.vjs-big-play-button {
    background: #fff !important;
    border-radius: 100px !important;
    cursor: pointer !important;
    height: 96px !important;
    position: relative !important;
    margin: 0px auto !important;
    width: 144px !important;
    margin-top: 30% !important;
}
}