<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HL.Blocks.Caching" version="1.1.14.0" targetFramework="net461" />
  <package id="HL.Blocks.CircuitBreaker" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Blocks.Localization" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.Configuration" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.DataContract.Interfaces" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.DataContract.ValueObjects" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.Logging" version="1.1.2.0" targetFramework="net461" />
  <package id="HL.Common.Utilities" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.ValueObjects" version="1.1.19.0" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MyHerbalife3.Core.AdminProvider" version="1.2.3.0" targetFramework="net461" />
  <package id="MyHerbalife3.Shared.Infrastructure" version="1.2.30.0" targetFramework="net461" />
  <package id="MyHerbalife3.Shared.Interfaces" version="1.2.1.0" targetFramework="net461" />
  <package id="MyHerbalife3.Shared.ViewModel" version="1.2.11.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.605" targetFramework="net461" />
  <package id="StackExchange.Redis.Extensions.Core" version="1.4.0" targetFramework="net461" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="1.4.0" targetFramework="net461" />
</packages>