<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="zh-TW" />
  </appSettings>

  <Addressing GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" GDOeditAddressxml="/Ordering/Controls/Address/AddressFormat/zh-TW.xml" scriptPath="/Ordering/Controls/Address/AddressFormat/zh-TW.js" />
  <APF supervisorSku="0909" distributorSku="9909" initalApfwarehouse="T8" apfwarehouse="20" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="CCB" dueDateDisplayFormat="D"/>
  <Checkout currency="TWD" currencySymbol="$" shipToCountries="TW" eventTicketWarehouseCode="T8" getShippingInstructionsFromProvider="true" hasEarnBase="true" hasEarnBaseBySku="false" mobileNumberRegExp="^(\d{10,10})$" requiresAcknowledgementToSubmit="true" requiresAcknowledgementToSubmitWireOnly="true" />
  <DO sendEmailUsingSubmitOrder="true" allowDO="true" purchasingLimitRestrictionType="MarketingPlan" dupeCheckDaysInterval="30"  allowHFF="false" HFFHerbalifeSku="F692" HFFHerbalifeDefaultValue="1" allowTodaysMagazine="false" orderMonthFormat="y" orderMonthLongFormat="y" hasFAQ="true"  purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" categoryPageSize="9" loadFAQMenuFromHTML="true" checkSKUExpirationDate="true" expirationDateFormat="yyyy年M月d日"/>
  <PickupOrDelivery allowPickup="false" shippingInstructionsHaveTime="true" shippingInstructionsTimeMandatory="false" shippingMethodNeedsDisplay="true" />
  <Payments allowWirePayment="true" wirePaymentCodes="W1" allowWireForHardCash="true" allowDirectDepositPayment="false" directDepositPaymentCodes="WR1" directDepositPaymentAliases="郵政劃撥" allowMultipleCardsInTransaction="true" useCardRegistry="false" maxCVV="3" allowDecimal="false" maxCardsToDisplay="4" wirePaymentAliases="銀行電匯 / ATM自動提款機 / 網路銀行 轉帳" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_TW.ascx" allowSavedCards="false" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="T8" defaultFreightCode="CCB" displayEarnBase="true" allowBackorder="true"/>
  
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.CardRegistry.Global.CardRegistryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.CartIntegrity.zh_TW.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
    </RulesModules>
  </Rules>
</configuration>