<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Peru, Spanish -->
    <add key="Locale" value="es-PE" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/PEAddressControl.ascx" GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.xml" validateShippingAddress="true"/>
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="E4" apfFreightCode="PU" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout requiresAcknowledgementToSubmit="true" taxPercentage="18" hasTotalTaxable="true" hasTaxPercentage="true" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_SAM.ascx" currency="PEN" currencySymbol="S/." useHMSCalc="false" requireEmail="true" shipToCountries="PE" initialShippingAddressFromHMS="false" eventTicketWarehouseCode="E4" eventTicketOrderType="RSO"  hasLocalTax ="true" eventTicketFreightCode="PU" hasEarnBase="true"/>
  <DO getPurchaseLimitsFromFusion="true" IsDemoVideo="true"  sendEmailUsingSubmitOrder="true" showOrderQuickViewForEventTicket="false" allowDO="true" retrieveTIN="true" allowEventPurchasing="true" nonThresholdCountryRequiredPurchasingLimits="true" enforcesPurchasingPermissions="true" purchasingLimitRestrictionType="Annually" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" allowHFF="true" allowTodaysMagazine="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" hasFAQ="true" usesTaxRules="true" HFFSkuList="285H" />
  <PickupOrDelivery allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="false" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="78" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneMaxLen="10" pickUpPhoneRegExp="^(\d{6,10})$"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="E4" defaultFreightCode="PEF" displayEarnBase="true" maxLineItemsInCart="21" maxLineItemsInCartForeignMember="21"/>
  <!--  
  <Payments allowWirePayment="false" wirePaymentCodes="WR,W1" allowWireForHardCash="true" allowSavedCards="false" maxCVV="4" allowDecimal="true"  wirePaymentAliases="Cuenta Ahorros S/. BCP,Cuenta Ahorro S/. INTERBANK" hasPaymentGateway="true" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-PE.ascx" paymentGatewayPaymentMethods="CreditCard" paymentGatewayInvoker="PeruPaymentGatewayInvoker" paymentGatewayApplicationId="4000234" paymentGatewayEncryptionKey="B36B6BFB623A0840" paymentGatewayUrl="https://www.punto-web.com/gateway/PagoWeb2Hd.asp" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" allowDirectDepositPayment="true" directDepositPaymentCodes="D1,D2" directDepositPaymentAliases="Depósito Directo BCP,Depósito Directo Interbank"/>
  --> 
  <Payments allowWirePayment="false" wirePaymentCodes="WR,W1" allowWireForHardCash="true" allowSavedCards="false" maxCVV="4" allowDecimal="true" allowDirectDepositPayment="true" directDepositPaymentCodes="D1,D2" directDepositPaymentAliases="Depósito Directo BCP,Depósito Directo Interbank" wirePaymentAliases="Cuenta Ahorros S/. BCP,Cuenta Ahorro S/. INTERBANK" hasPaymentGateway="true" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-PE.ascx" paymentGatewayPaymentMethods="CreditCard"  
            isUsingHub="true"         
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            clientKey ="7122cc30edce49a084fda7125bc33f77"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.es_PE.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.es_PE.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>      
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.es_PE.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.es_PE.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Taxation.es_PE.TaxationRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ITaxationRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>