<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.  Serbia-->
    <add key="Locale" value="hr-HR" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/HRAddressControl.ascx"  />
  <APF standaloneAPFOnlyAllowed ="true" supervisorSku="0909" distributorSku="9909" apfwarehouse="HR" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="HR" />
  <Checkout useHMSCalc="false" displayTransactiontime="true" currency="HRK" currencySymbol=" HRK" currencySymbolPosition="Trailing" requireEmail="true" shipToCountries="HR" eventTicketOrderType="RSO" eventTicketWarehouseCode="HR" eventTicketFreightCode="NOF" yourPriceWithAllCharges="true" hideFreightCharges="true" hasEarnBase="true"  hasRetailPrice="true" hasSubTotal="false" hasYourPrice="true" hasLocalTax ="true" requiresAcknowledgementToSubmit="true" mergePHAndShippingCharges="true" hideShippingCharges="true" getShippingInstructionsFromProvider="true" requiresAcknowledgementTermsToSubmit="true" />
  <DO deliveryTerms="true" getPurchaseLimitsFromFusion="true" ignoreInventory="false" sendEmailUsingSubmitOrder="true" sendEmailUsingSubmitOrderForWire="true" allowDO="true" nonThresholdCountryRequiredPurchasingLimits="true" purchasingLimitRestrictionType="Annually" allowEventPurchasing="true"  usesTaxRules="true" orderMonthFormat="MM/yyyy" orderMonthLongFormat="MMM yyyy" allowHFF="false" allowTodaysMagazine="false" hasFAQ="true" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" showHFFLinkOnMenu="true" showHFFLinkOnETO="true" orderMonthFormatLocalProvider="false" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx"  />
  <PickupOrDelivery pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{9,10})$" pickUpPhoneMaxLen="10" pickupInstructionsHaveDate="true" isPickupInstructionsRequired="true" allowDaysPickUp="5" shippingMethodNeedsDisplay="false"/>
  <Payments allowSavedCards="false" maxCardsToDisplay="1" maxCVV="4" allowDecimal="true" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="ЖИЦА:"
      paymentGatewayAlias="Kreditnu karticu"
      hasPaymentGateway="true"
      paymentGatewayInvoker="PGHPaymentGatewayInvoker"
			paymentGatewayPaymentMethods="CreditCard"
			isUsingHub="true"
			paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
			submitOnAuthorization="false"
			suppressCallBack="false"
      clientKey ="7122cc30edce49a084fda7125bc33f77"
      allowPurchaseForHardCash="false"
      allowCreditCardForHardCash="true"
   />
  <ShoppingCart maxQuantity="100" defaultWarehouse="HR" defaultFreightCode="HR" allowBackorder="false" displayEarnBase="true" allowBackorderForPickup="true" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.hr_HR.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.hr_HR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.HR.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.hr_HR.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.hr_HR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Taxation.hr_HR.TaxationRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ITaxationRule"/>
    </RulesModules>
  </Rules>
</configuration>
