<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Greece, Έλληνες-->
    <add key="Locale" value="es-CR" />
  </appSettings>

  <Addressing GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.es-CR.xml" 
              GDOeditaddress="/Ordering/Controls/Address/CRAddressControl.ascx" 
              validateShippingAddress="true" />
  
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="C9" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout useHMSCalc="false" calculateSubtotal="true" hasTaxPercentage="true" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_SAM.ascx" currency="CRC" currencySymbol="¢" requireEmail="true" shipToCountries="CR" eventTicketOrderType="RSO" eventTicketWarehouseCode="C9" hasYourPrice="true" getShippingInstructionsFromProvider="true" hasEarnBase="true"/>
  <DO sendEmailUsingSubmitOrder="true" IsDemoVideo="true"  showOrderQuickViewForEventTicket="false" allowDO="true" purchasingLimitRestrictionType="MarketingPlan" allowEventPurchasing="true" categoryPageSize="15" dupeCheckDaysInterval="1" retrieveTIN="true"  usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//GlobalDO.xml" hasFAQ="true" allowHFF="true" HFFSkuList="285H" />
  <PickupOrDelivery allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneMaxLen="8" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="false" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="78" pickUpPhoneRegExp="^(\d{8})$"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="C9" defaultFreightCode="CRC" priceToShow="TotalRetail" displayEarnBase="true"/>

  <!--
    <Payments allowSavedCards="false" maxCVV="4" allowDecimal="false" paymentGatewayControlHasCardData="true" merchantAccountName="HRBLDEECOM" maxCardsToDisplay="1"
            allowWirePayment="true" wirePaymentCodes="W1,W2" allowWireForHardCash="true" wirePaymentAliases="Banco Bac San Jose,Banco Popular de Costa Rica"
            allowDirectDepositPayment="true" directDepositPaymentCodes="D1,D2" directDepositPaymentAliases="Banco Bac San Jose,Banco Popular de Costa Rica"
            hasPaymentGateway="true" paymentGatewayPaymentMethods="CreditCard" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-CR.ascx"
            paymentGatewayInvoker="CredomaticPaymentGatewayInvoker" paymentGatewayApplicationId="2798718" paymentGatewayEncryptionKey="QSaQ239b67G2J3pZvfn7hZDzK7mgffKX"
            paymentGatewayUrl="https://credomatic.compassmerchantsolutions.com/api/transact.php" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" disableSale="false" />
  -->
  
  <Payments allowSavedCards="false" maxCVV="4" allowDecimal="false"
            allowWirePayment="true" wirePaymentCodes="W1,W2,W3" allowWireForHardCash="true" wirePaymentAliases="Banco Bac San Jose,Banco Popular de Costa Rica,Banco de Costa Rica(BCR)"
            allowDirectDepositPayment="false" directDepositPaymentCodes="D1,D2" directDepositPaymentAliases="Banco Bac San Jose,Banco Popular de Costa Rica"
            paymentGatewayPaymentMethods="CreditCard"
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="false"
            suppressCallBack="true" 
            clientKey ="7122cc30edce49a084fda7125bc33f77" multipleWireMessage="true"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.HFF.SamCam.HFFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IHFFRule"/>
    </RulesModules>
  </Rules>

</configuration>