<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Ecuador, Spanish -->
    <add key="Locale" value="es-EC" />
  </appSettings>

  <Addressing  GDOeditaddress="/Ordering/Controls/Address/ECAddressControl.ascx"  GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.es-EC.xml" validateShippingAddress="true"/>  
  <Checkout calculateSubtotal="true" currency="USD" currencySymbol="$" hasTaxPercentage="true" taxPercentage="12"  checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_SAM.ascx" shipToCountries="EC" initialShippingAddressFromHMS="false" eventTicketFreightCode="PU" eventTicketWarehouseCode="E3" eventTicketOrderType="RSO" hasEarnBase="true" specialSKUList="9901" requireEmail="true"  getShippingInstructionsFromProvider="true" requiresAcknowledgementToSubmit="true" requiresAcknowledgementToSubmitGatewayOnly="true"/>
  <APF showOrderQuickViewForStandaloneAPF="false" supervisorSku="0909" distributorSku="9909" apfwarehouse="E3" allowAddItemWhenAPFDue="false" allowAddAPF="true" standaloneAPFOnlyAllowed="false" allowDSRemoveAPFWhenDue="false" apfFreightCode="PU" orderType="RSO"/>
  <DO sendEmailUsingSubmitOrder="true" IsDemoVideo="true"  showOrderQuickViewForEventTicket ="false" ignoreInventory="false" allowDO="true" allowEventPurchasing="true" usesTaxRules="false" panelConfiguration="//Ordering//SAMDO.xml" categoryPageSize="15" allowHFF="true" allowTodaysMagazine="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" hasFAQ="true" retrieveTIN="true" purchasingLimitRestrictionType="MarketingPlan" phoneSplit="false" dupeCheckDaysInterval="30" HFFSkuList="285H" />
  <PickupOrDelivery allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="false" hasFreeFormShippingInstruction="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{6,12})$" pickUpPhoneMaxLen="12" pickupInstructionsHaveDate="false" freeFormShippingInstructionMaxLength="78" />
  <Payments
    allowSavedCards="false"
    hasPaymentGateway="true"
    paymentGatewayPaymentMethods="CreditCard"
    paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-EC.ascx"
    paymentGatewayAlias="Tarjetas de Crédito"
    allowDirectDepositPayment="true"
    directDepositPaymentCodes="D1,D3,D2,D4"
    directDepositPaymentAliases="Depósito Directo Western Union,Depósito Directo Guayaquil,Depósito Directo Produbanco,Depósito Directo Pichincha"
    allowWirePayment="false"
    wirePaymentCodes="WR"
    allowWireForHardCash="true"
    maxCVV="4"
    allowDecimal="true"
    paymentGatewayInvoker="EcuadorPaymentGateWayInvoker"
    paymentGatewayApplicationId="00260808"
    paymentGatewayMode="0"
    paymentGatewayUrl=""
    paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx"
    paymentGatewayStyle="2"
    hidePayclub="true"
    hideProdubanco="false"
    clientKey="7122cc30edce49a084fda7125bc33f77"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="E3" defaultFreightCode="SER" displayEarnBase="true" supportLinkedSKU="false" allowBackorderForPickupAllTypes="true" allowBackorderForPickup="true"  allowBackorder="true" allowBackorderInventorySKUOnly="true" maxLineItemsInCart="25" maxLineItemsInCartForeignMember="25"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>      
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>