<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Uruguay, Spanish -->
    <add key="Locale" value="es-UY" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/UYAddressControl.ascx" GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.es-UY.xml" validateShippingAddress="true"/>
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="UY" apfFreightCode="NOF" standaloneAPFOnlyAllowed="true" />
  <Checkout calculateSubtotal="true" taxPercentage="21" hasTaxPercentage="true" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_SAM.ascx" currency="UYU" currencySymbol="$ "  requireEmail="true" shipToCountries="UY" initialShippingAddressFromHMS="false" eventTicketFreightCode="PU" eventTicketWarehouseCode="UY" eventTicketOrderType="RSO" hasEarnBase="true" hasLocalTax ="false" specialSKUList="9901" getShippingInstructionsFromProvider="true"/>
  <DO showOrderQuickViewForEventTicket ="false" IsDemoVideo="true"  sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowDO="true" usesTaxRules="true" allowEventPurchasing="true" panelConfiguration="//Ordering//SAMDO.xml" categoryPageSize="15" allowHFF="true" allowTodaysMagazine="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" hasFAQ="true"  retrieveTIN="true" dupeCheckDaysInterval="1" nonThresholdCountryRequiredPurchasingLimits="true" purchasingLimitRestrictionType="Annually" getPurchaseLimitsFromFusion="true"  purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" HFFSkuList="285H" />
  <PickupOrDelivery allowPickup="true" shippingMethodNeedsDisplay="true" shippingMethodsHaveDropDown="false" hasFreeFormShippingInstruction="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{7,10})$" isPickupInstructionsRequired="true" pickUpPhoneMaxLen="10" freeFormShippingInstructionMaxLength="78" />
  <Payments allowSavedCards="false" paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-UY.ascx" allowDirectDepositPayment="true" directDepositPaymentCodes="D2,D3,D4" directDepositPaymentAliases="Banco Santander,ABITAB,BROU" allowWireForHardCash="true" maxCVV="4" allowDecimal="true" maxAmountForVATDiscount="0.0" hideCreditCardOption="true" disablePaymentGateway="false" hideVpayment="false" hideOca="false" paymentGatewayAlias="Tarjetas de Crédito" paymentGatewayPaymentMethods="CreditCard" hasPaymentGateway="true"	paymentGatewayInvoker="PGHPaymentGatewayInvoker" isUsingHub="true" paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"  submitOnAuthorization="false" suppressCallBack="false" clientKey ="7122cc30edce49a084fda7125bc33f77"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="UY" defaultFreightCode="UYI" displayEarnBase="true" maxLineItemsInCart="15" maxLineItemsInCartForeignMember="15"/>
  
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.es_UY.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>      
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.es_UY.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.HFF.SamCam.HFFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IHFFRule"/>
    </RulesModules>
  </Rules>
</configuration>
