<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>
  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Hungary-->
    <add key="Locale" value="hu-HU" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/HUAddressControl.ascx" />
  <APF supervisorSku="0909" distributorSku="9909" alternativeSku="9910" apfwarehouse="F7" apfFreightCode="WI" allowAddItemWhenAPFDue="false" allowAddAPF="true" standaloneAPFOnlyAllowed="true" allowDSRemoveAPFWhenDue="false" showOrderQuickViewForStandaloneAPF="true" deliveryAllowed="Pickup" orderType="APF"/>
  <Checkout currency="HUF" currencySymbol="Ft " requireEmail="true" shipToCountries="HU" eventTicketOrderType="ETO" eventTicketWarehouseCode="F7" hasEarnBase="true"/>
  <DO purchasingLimitRestrictionPeriod="Annually" getPurchaseLimitsFromFusion="true"    nonThresholdCountryRequiredPurchasingLimits="true" pendingOrdersUsesPaymentGateway="true" sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowDO="true" purchasingLimitRestrictionType="Annually" allowEventPurchasing="true"  retrieveTIN="true"  usesTaxRules="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy"  HFFHerbalifeSku="F692" HFFHerbalifeDefaultValue="1" HFFUrl="https://www.herbalifefamilyfoundation.org/pages/give/donate" showHFFLinkOnMenu="true" allowTodaysMagazine="true" todayMagazineMax="1" hasFAQ="true" preselectedDualOrderMonth="false" modifyTodaysMagazineQuantity="true" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" showOrderQuickViewForEventTicket="false" todayMagazineProdTypeRestricted="false" allowPendingOrders="true"/>
  <PickupOrDelivery allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{8,9})$" pickUpPhoneMaxLen="9" pickupInstructionsHaveDate="true" shippingMethodNeedsDisplay="true" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="40" isPickupInstructionsRequired="true"/>
  <Payments paymentGatewayPayCode="IO" allowSavedCards="false" maxCVV="3" paymentGatewayAlias="Bankkártya"  allowDecimal="true" merchantAccountName="HRBLUKECOM" maxCardsToDisplay="1"  allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true"  paymentGatewayPaymentMethods="CreditCard"  
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="true"
            suppressCallBack="true" 
            clientKey ="7122cc30edce49a084fda7125bc33f77" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="F7" showEarnBaseCurrencySymbol="true" defaultFreightCode="DPD" allowBackorder="true" supportLinkedSKU="true" priceToShow="TotalRetail" displayEarnBase="true" allowBackorderForPromoType="true" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.CartIntegrity.hu_HU.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.APF.hu_HU.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="7" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.hu_HU.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.hu_HU.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>