<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Greece, Έλληνες-->
    <add key="Locale" value="el-GR" />
  </appSettings>

  <Addressing pickupControl="/Ordering/Controls/Pickup/GreeceAddDeletePickupControl.ascx" GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml"  GDOeditAddressxml="/Ordering/Controls/Address/AddressFormat/el-GR.xml" scriptPath="~/Ordering/Ordering/Controls/Address/AddressFormat/address.js"  validatePostalCode="true" />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="G7" standaloneAPFOnlyAllowed="true" showOrderQuickViewForStandaloneAPF="true" orderType="APF"/>
  <Checkout allowZeroDiscount="true" hidePHShippingForETO="true" checkoutOptionsControl="~/Ordering/Controls/Checkout/GrCheckOutOptions.ascx" currency="EUR"
        currencySymbol="EUR " requireEmail="true" shipToCountries="GR" eventTicketWarehouseCode="G7" hasYourPrice="true" hasEarnBase="true"
        getShippingInstructionsFromProvider="true" savePickupFromCourierPreferences="true"/>
  <DO sendEmailUsingSubmitOrder="true" allowDO="true" showOrderQuickViewForEventTicket ="false"  usesDiscountRules="true" getPurchaseLimitsFromFusion="true" purchasingLimitRestrictionPeriod="Annually" nonThresholdCountryRequiredPurchasingLimits="true" purchasingLimitRestrictionType="Annually" allowEventPurchasing="true"  retrieveTIN="true"  purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits_GR.ascx" usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//BrGrDO.xml" HFFHerbalifeSku="F692" allowHFFModal="true" hasFAQ="true" HFFHerbalifeDefaultValue="1" hasPickupFromCourierPreference="true"/>
  <PickupOrDelivery allowPickUpFromCourier="true" allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" isPickupInstructionsRequired="true" pickupInstructionsHaveDate="true" shippingMethodsHaveDropDown="false" pickUpPhoneMaxLen="10" pickUpPhoneRegExp="^(\d{10})$" shippingMethodNeedsDisplay="true" hasFreeFormShippingInstruction="true" pickupFromCourierHaveDate="true" pickupFromCourierHaveName="true" pickupFromCourierHavePhone="true" />
  <Payments allowWirePayment="true" wirePaymentCodes="W1,W2" maxCVV="4" allowWireForHardCash="true" allowDecimal="true" merchantAccountName="HRBLGRECOM" maxCardsToDisplay="1" wirePaymentAliases="Τραπεζική Μεταφορά χρημάτων στην τράπεζα Πειραιώς,Τραπεζική Μεταφορά χρημάτων στην Alpha Bank" multipleWireMessage="true"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="G7" defaultFreightCode="STA" supportLinkedSKU="true" displayEarnBase="true" priceToShow="TotalRetail" displayVolumePointsForEventTicket="false"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.el_GR.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.CartIntegrity.el_GR.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.GR.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.el_GR.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Discount.el_GR.DiscountRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IDiscountRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.SavedCartManagement.Global.SavedCartManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ISavedCartManagementRule"/>
    </RulesModules>
  </Rules>

</configuration>