<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="vi-VN" />
  </appSettings>

  <Addressing  GDOeditAddressxml="/ordering/Controls/Address/AddressFormat/vi-VN.xml"/>
  <APF apfRequired="false" showOrderQuickViewForStandaloneAPF="true" supervisorSku="" distributorSku="" allowAddItemWhenAPFDue="true"   allowDSRemoveAPFWhenDue="true"/>
  <Checkout currency="VND" currencySymbol="VND " useUSPricesFormat="false" useCommaWithoutDecimalFormat="true" shipToCountries="VN" shippingAddressRequiredForPickupOrder="true" eventTicketWarehouseCode="VB"  hidePHShippingForETO="true" showVolumePoinsForETO="true" hasPickupCharge="true"  getShippingInstructionsFromProvider="true" requiresAcknowledgementToSubmit="true" />
  <DO  isResponsive="true" sendEmailUsingSubmitOrder="true" showOrderQuickViewForEventTicket ="true" ignoreInventory="false" allowEventPurchasing="false" allowDO="true" dupeCheckDaysInterval="30" purchasingLimitRestrictionPeriod="Monthly" purchasingLimitRestrictionType="MarketingPlan" getPurchaseLimitsFromFusion="true"  retrieveTIN="true" usesTaxRules="true" orderMonthFormat="MMM yyyy"  orderMonthLongFormat="MMM yyyy" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" phoneSplit="true" showHFFLinkOnMenu="true" showHFFLinkOnETO="true" eventTicketUrlTarget="_self"/>
  <PickupOrDelivery isPickupInstructionsRequired="false" pickUpPhoneRegExp="^\d{8,14}$" pickUpPhoneMaxLen="14" allowPickup="true" pickupInstructionsHavePhone="true" pickupInstructionsHaveName="true" shippingMethodNeedsDisplay="true" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="240" pickupAllowForEventTicket="true"  shippingInstructionForEventTicket="true" showShippingMethodForAPFETO="true" deliveryAllowedETO="Pickup" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="VB" defaultFreightCode="VNF" displayDiscount="false" hasVolumePoints="true" hasDiscountedPriceForEventTicket="false" displayVolumePointsForEventTicket="true" allowBackorder="true" allowBackorderInventorySKUOnly="false" allowBackorderForPickup="true" allowBackorderForPickupAllTypes="true" checkELearning="true" trainingCode="VN-ELEARN" eLearningMaxPPV="1100"/>
  <Payments
    allowSavedCards="false"
	  allowDecimal="false"
	  allowMultipleCardsInTransaction="false"
	  useCardRegistry="false"
	  allowWireForHardCash="true"
	  allowWirePayment="true"
	  wirePaymentCodes="WR"
	  wirePaymentAliases="Wire Transfer"
	  merchantAccountName="hlvncybersource"
	  use3DSecuredCreditCard="false"
	  hasPaymentGateway="true"
	  isUsingHub="true"
    submitOnAuthorization="true"
    suppressCallBack="true"
    paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_vi-VN.ascx"
	  paymentGatewayInvoker="PGHPaymentGatewayInvoker"
	  paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
    paymentGatewayPaymentMethods="CreditCard"
	  method="CreditCard"
	  clientKey ="7122cc30edce49a084fda7125bc33f77"
    pghPaymentsConfiguration="Thẻ tín dụng;IO;lblCreditCardMessage.html|Thẻ ghi nợ/ATM;DM;lblPaymentGatewayMessage.html"
    paymentsSummaryControl="~/Ordering/Controls/Checkout/PaymentsSummary_VN.ascx" />

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.vi_VN.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.vi_VN.PurchasingLimitRules_eLearning" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.VN.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.vi_VN.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.vi_VN.PurchasingLimitRules_eLearning" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
    </RulesModules>
  </Rules>
</configuration>
