<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="en-PH" />
  </appSettings>
  
  <Addressing GDOeditaddress="/Ordering/Controls/Address/PHAddressControl.ascx" hasCustomErrorExpression="true" pickupControl="/Ordering/Controls/Pickup/GreeceAddDeletePickupControl.ascx"  validateShippingAddress="true"/>
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="37" initalApfwarehouse="37" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="NOF" allowAddItemWhenAPFDue="true"/>
  <Checkout showDistributorSubTotalForETO="true" hasEarnBase="true" currency="PHP" currencySymbol="₱ " useConfigCurrencySymbol="true" shipToCountries="PH" eventTicketOrderType="ETO"  shippingAddressRequiredForPickupOrder="true" eventTicketWarehouseCode="37"  hidePHShippingForETO="false" showVolumePoinsForETO="true" hasPickupCharge="true"  getShippingInstructionsFromProvider="true" checkoutOptionsControl="~/Ordering/Controls/Checkout/GrCheckOutOptions.ascx" displayWeight="true" />
  <DO purchasingLimitRestrictionPeriod="PerOrder" getPurchaseLimitsFromFusion="true" nonThresholdCountryRequiredPurchasingLimits="true" sendEmailUsingSubmitOrder="true" allowEventPurchasing="false" allowDO="true" dupeCheckDaysInterval="30" purchasingLimitRestrictionType="Monthly" retrieveTIN="true" volumeLimitsPerOrder="1050" categoryPageSize="15"   usesTaxRules="true" orderMonthFormat="MMM yyyy"  orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//BrGrDO.xml" allowHFF="false" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" allowTodaysMagazine="false" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" phoneSplit="true" showOrderQuickViewForEventTicket ="false" showHFFLinkOnMenu="true" showHFFLinkOnETO="true" hasFAQ="true" eventTicketUrl="/ed/en-ph/pages/EventsAndPromotions/EventTicketList.html" eventTicketUrlTarget="_self"/>
  <PickupOrDelivery isPickupInstructionsRequired="true" pickUpPhoneRegExp="^(\d{7,11})$" pickUpPhoneMaxLen="11" allowPickup="true" pickupInstructionsHavePhone="true" pickupInstructionsHaveName="true" shippingMethodNeedsDisplay="true" shippingInstructionsHaveDate="false" shippingInstructionsHaveTime="false" pickupInstructionsHaveDate="false" allowPickUpFromCourier="true" pickUpFromCourierPhoneRegExp="^(\d{7,11})$" pickupFromCourierHaveName="true" pickupFromCourierHavePhone="true" />
  <Payments allowMultipleCardsInTransaction="false" useCardRegistry="false" allowDirectDepositPayment="true" directDepositPaymentCodes="D2,D1,D3" allowWireForHardCash="true" directDepositPaymentAliases="Banco De Oro,Bank Of Philippine Islands,Metro Bank"  maxCVV="4" maxCardsToDisplay="4" hasPaymentGateway="false"  paymentGatewayPaymentMethods="CreditCard"
            merchantAccountName="hlphcybersource" allowSavedCards="true" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid.ascx" use3DSecuredCreditCard="true" />
  <ShoppingCart maxQuantity="150" defaultWarehouse="P0" defaultFreightCode="RPF" allowBackorder="true" allowBackorderForPickup="true" displayDiscount="false" hasVolumePoints="true" hasDiscountedPriceForEventTicket="false" displayVolumePointsForEventTicket="true" displayEarnBase="true"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.en_PH.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.en_PH.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>
