<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Belgium français -->
    <add key="Locale" value="fr-BE" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/BEAddressControl.ascx" hasCustomErrorExpression="true" />  
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="31" allowAddItemWhenAPFDue="true" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout currency="EUR" currencySymbol="€" requireEmail="true" shipToCountries="BE" eventTicketOrderType="RSO" eventTicketWarehouseCode="31"
        hasSummaryEarnBase="true" hasEarnBase="true"/>
  <DO allowHFF="true" HFFSkuList="269H" HFFSkuMaxQuantity="999999999" HFFHerbalifeDefaultValue="1" sendEmailUsingSubmitOrder="true" allowDO="true" purchasingLimitRestrictionType="Annually" purchasingLimitRestrictionPeriod="Annually" getPurchaseLimitsFromFusion="true" allowEventPurchasing="true" categoryPageSize="15" dupeCheckDaysInterval="1" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//GlobalDO.xml" allowTodaysMagazine="true" todayMagazineMax="1" checkTodaysMagazineAvailability="false" hasFAQ="true" enforcesPurchasingPermissions="true" retrieveTIN="true" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits.ascx" useTotalVolumeToReconciliation="true"/>
  <PickupOrDelivery allowPickup="false" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="31" defaultFreightCode="BEF" allowBackorder="true" displayEarnBase="true" priceToShow="TotalRetail" supportLinkedSKU="true"/>
  <Payments allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" maxCVV="3" allowDecimal="true" merchantAccountName="HRBLBEECOM" maxCardsToDisplay="1" wirePaymentAliases="Wire Payment:"
          paymentGatewayPayCode="IO" paymentGatewayAlias="Bancontact/Mister Cash" paymentGatewayPaymentMethods="MISTERCASH-SSL" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx?Status=Approved"
          paymentGatewayReturnUrlDeclined="/Ordering/Checkout.aspx?Status=Declined" paymentGatewayStyle="bodyAttr=bgcolor%3D%22%23EAF1EE%22|fontAttr=face%3D%22arial%22+color%3D%22%23002469%22"
          hasPaymentGateway="true" isUsingHub="true"
          paymentGatewayInvoker="PGHPaymentGatewayInvoker"
          paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
          method ="MisterCash"
          clientKey ="7122cc30edce49a084fda7125bc33f77"
          canSubmitPending="true" PendingOrderhascontent="true"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.fr_BE.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.fr_BE.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>