<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read. Colombia, Spanish -->
    <add key="Locale" value="es-CO" />
  </appSettings>

  <Addressing GDOeditaddress="/Ordering/Controls/Address/COAddressControl.ascx" GDOstaticAddress="/Ordering/Controls/Address/AddressFormat/StaticAddress.es-CO.xml" pickupControl="/Ordering/Controls/Pickup/GreeceAddDeletePickupControl.ascx" validateShippingAddress="true"/>
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="CO" apfFreightCode="PU" allowAddAPF="true" standaloneAPFOnlyAllowed="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" />
  <Checkout taxPercentage="18"  hasTaxPercentage="true" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_SAM.ascx" currency="COP" currencySymbol="$" useHMSCalc="false" requireEmail="true" shipToCountries="CO" initialShippingAddressFromHMS="false"  eventTicketFreightCode="PU" eventTicketWarehouseCode="CO" eventTicketOrderType="RSO" hasEarnBase="true" checkoutOptionsControl="~/Ordering/Controls/Checkout/GrCheckOutOptions.ascx" displayCourierDetails="true" getShippingInstructionsFromProvider="true"/>
  <DO sendEmailUsingSubmitOrder="true" IsDemoVideo="true"   allowDO="true" usesTaxRules="true" purchasingLimitRestrictionType="MarketingPlan" allowEventPurchasing="true" enforcesPurchasingPermissions="true" allowHFF="false" allowTodaysMagazine="false" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" hasFAQ="true" retrieveTIN="true" panelConfiguration="//Ordering//BrGrDO.xml" usesOrderManagementRules="true"/>
  <PickupOrDelivery allowPickup="true" shippingMethodNeedsDisplay="true" hasFreeFormShippingInstruction="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" freeFormShippingInstructionMaxLength="78" pickUpPhoneMaxLen="10" pickUpPhoneRegExp="^(\d{6,10})$" allowPickUpFromCourier="true" shippingMethodsHaveDropDown="true" shippingMethodsVPLimit="270" differentfragmentforshippingmethod="true" pickupFromCourierHaveName="true" pickupFromCourierHavePhone="true"/>
  <Payments allowWirePayment="true" allowDirectDepositPayment="true" wirePaymentCodes="W1,W2,W3" allowWireForHardCash="true" allowSavedCards="false"  maxCVV="4" allowDecimal="false"  wirePaymentAliases="Transferencia Bco. Colombia,Transferencia BCO BOGOTA CTE, Transferencia Bco. Davivienda"
          directDepositPaymentCodes="D1,DD,D2" directDepositPaymentAliases="DD BCO Colombia, DD BCO BOGOTA / BALOTO, DD BCO Davivienda"
          paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_es-CO.ascx"
          paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_CO.ascx"
          hidePagosonLine="false" hidePse="false"
          paymentGatewayPaymentMethods="CreditCard"
          hasPaymentGateway="true"
          paymentGatewayInvoker="PGHPaymentGatewayInvoker"
          isUsingHub="true"
          paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
          submitOnAuthorization="true"
          suppressCallBack="true"
          clientKey ="7122cc30edce49a084fda7125bc33f77" />
  <ShoppingCart maxQuantity="100" defaultWarehouse="L2" defaultFreightCode="CFG" displayEarnBase="true" maxLineItemsInCart="40" maxLineItemsInCartForeignMember="40"/>

  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.es_CO.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="6" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="7" className="MyHerbalife3.Ordering.Rules.CartIntegrity.es_CO.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.es_CO.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingPermissionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Taxation.es_CO.TaxationRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ITaxationRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.SavedCartManagement.es_CO.SavedCartManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ISavedCartManagementRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.CartIntegrity.es_CO.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IOrderManagementRule"/>
    </RulesModules>
  </Rules>
</configuration>
