<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="en-AU" />
  </appSettings>

  <Addressing GDOeditAddressxml="/Ordering/Controls/Address/AddressFormat/en-AU.xml" scriptPath="/Ordering/Controls/Address/AddressFormat/address.js"  validatePostalCode="false" />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="05" allowAddAPF="true" allowAddItemWhenAPFDue="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="NOF"   />
  <Checkout useHMSCalc="true" currency="AUD" currencySymbol="$" requireEmail="true" shipToCountries="AU" eventTicketOrderType="ETO" eventTicketWarehouseCode="05" getShippingInstructionsFromProvider="true" hasEarnBase="true"/>
  <DO sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowDO="true" purchasingLimitRestrictionType="MarketingPlan" allowEventPurchasing="false" usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" allowHFF="true" HFFSkuList="D086,J660,001H" HFFSkuMaxQuantity="999999999" HFFHerbalifeDefaultValue="1" HFFUrl="http://www.herbalifefamilyfoundation.org/?nd=donate_summary" hasFAQ="true" phoneSplit="true" eventTicketUrl="/ed/EN-AU/pages/EventsAndPromotions/EventTicketList.html" eventTicketUrlTarget="_self" displayLookUpPriceListGenerator="false" plgDefaultTax="10.0" plgDefaultSH="2.4" />
  <PickupOrDelivery allowPickup="true" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" isPickupInstructionsRequired="true" pickUpPhoneHasPhoneMask="true" pickUpPhoneMask="99-99999999" hasFreeFormShippingInstruction="true" shippingMethodNeedsDisplay="true" hideWireForSpecialWhLocations="true" specialWhlocations="SY," />
  <Payments maxCVV="4" allowMultipleCardsInTransaction="false" allowDecimal="true" allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" merchantAccountName="HRBLUKECOM" maxCardsToDisplay="2" showPaymentAmountsInSummary="true"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="05" defaultFreightCode="AUF" allowBackorder="true" priceToShow="TotalRetail" displayEarnBase="true" allowBackorderForPromoType="false" />
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>