<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="ko-KR" />
  </appSettings>

  <Addressing GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" GDOeditaddress="/Ordering/Controls/Address/KrAddressControl.ascx" KRAdressAPIEnabled="true" />
  <APF apfRequired="false" supervisorSku="" distributorSku="" />
  <Checkout useSlidingScale="false" currency="KRW" currencySymbol="₩" requireEmail="true" requireSMS="true" areaCodeMobileRegExp="^(\d{2,3})$" mobileNumberRegExp="^(\d{7,8})$" useHMSCalc="false" requiresPaymentAuthenticationToSubmit="false" shipToCountries="KR" useConfigCurrencySymbol="true" modifyRecipientName="false" yourPriceWithAllCharges="true" checkoutTotalsDetailedControl="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_KR.ascx" hasSubTotal="false" populateHMSPrimaryEMail="true" getShippingInstructionsFromProvider="true" defaultInvoiceOption="SendToDistributor" hasEarnBase="true" hasRetailPrice="false" hasYourPrice="true" alwaysDisplayInvoiceOption="true" />
  <DO sendEmailUsingSubmitOrder="true" ignoreInventory="false" allowDO="true" allowEventPurchasing="false"  retrieveTIN="false"  usesTaxRules="false" orderMonthFormat="y" orderMonthLongFormat="y" hasFAQ="true" phoneSplit="true" thresholdPeriod="1" eventTicketUrl="http://www.herbalife-event.com" HFFUrl="" hasPayeeID="true" allowZeroPricingEventTicket="true"/>
  <PickupOrDelivery allowPickup="false" hasAdditonalNumber="true" hasFreeFormShippingInstruction="true" freeFormShippingInstructionMaxLength="15" shippingMethodNeedsDisplay="true"  CO2DOSMSNotification="True"  pickUpPhoneHasPhoneMask="true" pickUpPhoneMask="99999999" hasFreeShippingLabel="true"/>
  <Payments allowSavedCards="false" allowDecimal="false" allowMultipleCardsInTransaction="true" maxCardsToDisplay="2" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_KS.ascx"
            allowWirePayment="true" allowWireForHardCash="true" wirePaymentCodes="W3,W4,W1" wirePaymentAliases="신한은행  가상계좌번호,국민은행  가상계좌번호,농협은행  가상계좌번호"  
            allowDirectDepositPayment="true" directDepositPaymentCodes="IV" directDepositPaymentAliases="ARS 신용카드 결제"  clientKey ="7122cc30edce49a084fda7125bc33f77" allowCreditCardForHardCash="false"
    />
  <ShoppingCart maxQuantity="100" defaultWarehouse="81" defaultFreightCode="KSF" allowBackorder="true" displayDiscount="true" displayRetailPrice="false" displayRetailPriceForLiterature="true" displayEarnBase="true" allowBackorderForPromoType="true"/>
  
  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingPermissions.ko_KR.PurchasingPermissionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.CardRegistry.KR.CardRegistryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.SavedCartManagement.ko_KR.SavedCartManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ISavedCartManagementRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
    </RulesModules>
  </Rules>
</configuration>
