<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="en-IN" />
  </appSettings>

  <Addressing GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml"  GDOeditaddress="/Ordering/Controls/Address/INAddressControl.ascx" pickupControl="/Ordering/Controls/Pickup/GreeceAddDeletePickupControl.ascx"/>
  <APF apfRequired="false" supervisorSku="0909" distributorSku="9909" />
  <Checkout mobileNumberRegExp="^(\d{10,10})$" currency="INR" currencySymbol="₹" requireEmail="true" shipToCountries="IN" initialShippingAddressFromHMS="false" hasOtherCharges="true" eventTicketWarehouseCode="J0" getShippingInstructionsFromProvider="true" checkoutOptionsControl="~/Ordering/Controls/Checkout/GrCheckOutOptions.ascx" displayCourierDetails="true" requiresAcknowledgementToSubmit="true" checkoutTotalsDetailedControl ="~/Ordering/Controls/Checkout/CheckoutTotalsDetailed_IN.ascx"/>
  <DO isResponsive="true" allowDO="true" allowEventPurchasing="true" getPurchaseLimitsFromFusion="true" purchasingLimitRestrictionType="Monthly" thresholdPeriod="30" retrieveTIN="true" categoryPageSize="15" panelConfiguration="//Ordering//BrGrDO.xml" allowTodaysMagazine="true" IBPSku="5428,5450,5426,5453,5436,5448" purchasingLimitsControl="~/Ordering/Controls/PurchasingLimits_IN.ascx" dupeCheckDaysInterval="1" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" phoneSplit="true" hasFAQ="true" hasPickupFromCourierPreference="true" sendEmailUsingSubmitOrder="false" allowZeroPricingEventTicket="true"/>
  <PickupOrDelivery isPickupInstructionsRequired="true" displaySingleTextBoxMobileNo="true"  allowPickup="true" shippingMethodNeedsDisplay="false" pickupInstructionsHaveName="true" pickupInstructionsHavePhone="true" isPickupPhoneRequired="false" allowPickUpFromCourier="true" pickUpPhoneMaxLen="15" pickUpPhoneRegExp="^(\d{10,15})$" pickUpFromCourierPhoneRegExp="^(\d{10,15})$"/>
  <ShoppingCart maxQuantity="100" maxMiniCartItem="5" defaultWarehouse="W1" defaultFreightCode="FSL" displayEarnBase="true" allowBackorder="true" allowBackorderInventorySKUOnly="false" allowBackorderForPickupAllTypes="true" allowBackorderForPickup="true" allowBackorderForPickupFromCourier="false"/>
  <!--<Payments allowWireTransferAutoOrderRelease="true" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_IN.ascx" allowSavedCards="false"  allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" allowDirectDepositPayment="true" directDepositPaymentCodes="DD" directDepositPaymentAliases="Demand Draft" allowDecimal="true" hasPaymentGateway="true"  paymentGatewayPayCode="VI" paymentGatewayAlias="Credit Card" paymentGatewayInvoker="HSBCPaymentGatewayInvoker" paymentGatewayPaymentMethods="CreditCard" merchantAccountName="" paymentGatewayUrl="https://migs.mastercard.com.au/vpcpay" paymentGatewayPassword="" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" paymentGatewayEncryptionKey="" />-->
    <Payments allowNetBankingPayment="true" allowWireTransferAutoOrderRelease="true" paymentOptionsControl="~/Ordering/Controls/Payments/PaymentInfoGrid_IN.ascx" allowSavedCards="false"  allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" allowDirectDepositPayment="true" directDepositPaymentCodes="DD" directDepositPaymentAliases="Demand Draft" allowDecimal="true" paymentGatewayPayCode="VI" paymentGatewayAlias="Credit Card"  paymentGatewayPaymentMethods="CreditCard" merchantAccountName="" paymentGatewayUrl="https://migs.mastercard.com.au/vpcpay" paymentGatewayPassword="" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" paymentGatewayEncryptionKey="" 
            paymentGatewayControl="~/Ordering/Controls/Payments/PaymentGateways/PaymentInfo_en-IN.ascx"              
            hasPaymentGateway="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            isUsingHub="true"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="true" 
            suppressCallBack="false"  
            clientKey ="7122cc30edce49a084fda7125bc33f77"
            gatewayName="CybersourcePaymentGateway"/>  


  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.en_IN.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.en_IN.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.en_IN.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.SavedCartManagement.Global.SavedCartManagementRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.ISavedCartManagementRule"/>
    </RulesModules>
  </Rules>
</configuration>