<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Payments" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PaymentsConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Addressing" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.AddressingConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="APF" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.APFConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Checkout" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.CheckoutConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="DO" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.DOConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="PickupOrDelivery" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.PickupOrDeliveryConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ShoppingCart" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.ShoppingCartConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Rules" type="MyHerbalife3.Ordering.Configuration.ConfigurationManagement.ConfigurationObjects.RulesConfiguration, MyHerbalife3.Ordering.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <appSettings>
    <!--Mandatory entry. Without locale, this file is considered invalid and won't be read.-->
    <add key="Locale" value="en-ZA" />
  </appSettings>

  <Addressing GDOstaticAddress="/ordering/Controls/Address/AddressFormat/StaticAddress.xml" GDOeditaddress="/Ordering/Controls/Address/ZAAddressControl.ascx" validatePostalCode="true" />
  <APF supervisorSku="0909" distributorSku="9909" apfwarehouse="S6" allowAddItemWhenAPFDue="true" allowAddAPF="true" allowDSRemoveAPFWhenDue="true" apfFreightCode="NOF"/>
  <Checkout currency="ZAR" currencySymbol="R" useUSPricesFormat="true" requireEmail="true" shipToCountries="ZA" eventTicketOrderType="ETO" eventTicketWarehouseCode="S6"
        useConfigCurrencySymbol="true" modifyRecipientName="false" getShippingInstructionsFromProvider="true" hasEarnBase="true"/>
  <DO allowDO="true" purchasingLimitRestrictionType="MarketingPlan" allowEventPurchasing="true" categoryPageSize="15" dupeCheckDaysInterval="1" retrieveTIN="true"  usesTaxRules="true" orderMonthFormat="MMM yyyy" orderMonthLongFormat="MMM yyyy" panelConfiguration="//Ordering//GlobalDO.xml" allowHFF="true" HFFHerbalifeDefaultValue="1" HFFHerbalifeSku="C296" allowTodaysMagazine="false" hasFAQ="true"/>
  <PickupOrDelivery freeFormShippingInstructionMaxLength="140" hasFreeFormShippingInstruction="true" shippingMethodNeedsDisplay="true" allowPickup="true" pickupInstructionsHaveDate="true" pickupInstructionsHavePhone="true" pickUpPhoneRegExp="^(\d{9,11})$" pickUpPhoneMaxLen="11" pickupInstructionsHaveName="true" isPickupInstructionsRequired="true"/>
  <ShoppingCart maxQuantity="100" defaultWarehouse="46" defaultFreightCode="SAF" allowBackorder="true" supportLinkedSKU="true" priceToShow="TotalRetail" displayEarnBase="true"/>
  <!--<Payments allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="Überweisung:" allowSavedCards="false" maxCVV="3" allowDecimal="true" merchantAccountName="20349E6D-F26F-4D93-AE06-C027A4BEC903" maxCardsToDisplay="1" hasPaymentGateway="true" paymentGatewayPayCode="IO" paymentGatewayAlias="Credit Card" paymentGatewayInvoker="MyGatePaymentGatewayInvoker" paymentGatewayPaymentMethods="CreditCard" paymentGatewayMode="" paymentGatewayApplicationId="CDC4C56C-BDB2-443F-8215-5B61066B38C1" paymentGatewayUrl="https://www.mygate.co.za/virtual/5x0x0/dsp_details.cfm" paymentGatewayReturnUrlApproved="/Ordering/PaymentGatewayManager.aspx" paymentGatewayReturnUrlDeclined="/Ordering/Checkout.aspx" />-->


  <Payments allowWirePayment="true" wirePaymentCodes="WR" allowWireForHardCash="true" wirePaymentAliases="Überweisung:" allowSavedCards="false" maxCVV="3" allowDecimal="true" merchantAccountName="20349E6D-F26F-4D93-AE06-C027A4BEC903" maxCardsToDisplay="1" paymentGatewayPayCode="IO" paymentGatewayAlias="Credit Card" paymentGatewayPaymentMethods="CreditCard"
            hasPaymentGateway="true"
            isUsingHub="true"
            paymentGatewayInvoker="PGHPaymentGatewayInvoker"
            paymentGatewayReturnUrl="/Ordering/PaymentgatewayManager.aspx"
            paymentGatewayCallBackUrl="/Ordering/PaymentgatewayManager.aspx"
            submitOnAuthorization="false"
            suppressCallBack="false"
            gatewayName ="PayUZAPaymentGateway"/>


  <Rules>
    <RulesModules>
      <clearRulesModule/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.APF.Global.APFRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="1" className="MyHerbalife3.Ordering.Rules.EventTicket.Global.EventTicketRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="2" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="3" className="MyHerbalife3.Ordering.Rules.SKULimitations.Global.SKULimitationsRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="4" className="MyHerbalife3.Ordering.Rules.CartIntegrity.Global.CartIntegrityRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="5" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IShoppingCartRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchaseRestriction.Global.PurchaseRestrictionRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchaseRestrictionRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.PurchasingLimits.Global.PurchasingLimitRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IPurchasingLimitsRule"/>
      <addRulesModule processOrder="0" className="MyHerbalife3.Ordering.Rules.Inventory.Global.InventoryRules" ruleInterface="MyHerbalife3.Ordering.Providers.RulesManagement.RuleInterfaces.IInventoryRule"/>
    </RulesModules>
  </Rules>
</configuration>