<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxEndpointBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="LargeEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="DisableServiceCertificateValidation">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="ServiceBinding_ICatalogInterface" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IOrderService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICustomerOrderService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ValidaPostSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPaymentGatewayBridgeInterface" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServiceBinding_IShipping" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BPagWSSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="LargeRequestBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10485760" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="1024" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="LargeRequestBindingConfiguration2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10485760" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="1024" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="1048576" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMobileAnalytics" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10485760" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="1024" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="1048576" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AddressValidation_Soap11Binding" />
        <binding name="BasicHttpBinding_IInfoService" />
        <binding name="BasicHttpBinding_IDistributorService" />
        <binding name="ServiceBinding_IChinaShipping" />
        <binding name="BasicHttpBinding_IChinaInterface" />
        <binding name="gatewayOrderQuerySoapBinding" />
        <binding name="BasicHttpBinding_ICommunicationService" />
        <binding name="BasicHttpBinding_IChinaInterface1" />
        <binding name="BasicHttpBinding_IOrderService1" />
        <binding name="BasicHttpBinding_IOrderService2" />
        <binding name="BasicHttpBinding_IOrderService3" />
        <binding name="BasicHttpBinding_IOrderService4" />
        <binding name="BasicHttpBinding_IOrderService5" />
        <binding name="BasicHttpBinding_IOrderService6" />
        <binding name="BasicHttpBinding_IOrderService7" />
        <binding name="BasicHttpBinding_ITwoWayAsync1" />
        <binding name="BasicHttpBinding_ITwoWayAsync2" />
        <binding name="ServiceEndpoint" />
        <binding name="BasicHttpBinding_IOrderService8" />
        <binding name="BasicHttpBinding_IOrderService9" />
        <binding name="BasicHttpBinding_IEventInterface" />
        <binding name="BasicHttpBinding_IDistributorInterface" />
        <binding name="BasicHttpBinding_IUserInterface" />
        <binding name="ServiceEndpoint1" />
        <binding name="ServiceEndpoint2" />
        <binding name="ServiceEndpoint3" />
        <binding name="Inbox_Soap11Binding" />
        <binding name="BasicHttpBinding_IMobileAnalytics1" />
        <binding name="BasicHttpBinding_IMobileAnalytics2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Inbox_Soap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
        <binding name="NetTcpRelayBinding_ICatalogInterface">
          <binaryMessageEncoding />
        </binding>
        <binding name="AddressValidation_Soap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="NetTcpRelayBinding_ICatalogInterface1">
          <binaryMessageEncoding />
        </binding>
        <binding name="Inbox_Soap12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://rd00155d31b491/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerOrderService" contract="CustomerOrderSVC.ICustomerOrderService" name="BasicHttpBinding_ICustomerOrderService" />
      <endpoint address="http://cal2testing.sytes.net/WSPasarelaVisa/ValidaPost.asmx" binding="basicHttpBinding" bindingConfiguration="ValidaPostSoap" contract="PeruVISAPaymentGateway.ValidaPostSoap" name="ValidaPostSoap" />
      <endpoint address="http://uslaxqa3wsrv1/Service/Legacy/PaymentGatewayBridge/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentGatewayBridgeInterface" contract="PaymentGatewayBridgeSVC.IPaymentGatewayBridgeInterface" name="BasicHttpBinding_IPaymentGatewayBridgeInterface" />
      <endpoint address="http://uslaxqa4wcf01/Service/Shipping/Shipping.svc" binding="basicHttpBinding" bindingConfiguration="ServiceBinding_IShipping" contract="ShippingSVC.IShipping" name="ServiceBinding_IShipping" />
      <endpoint address="https://bpag.uol.com.br/bpag2/services/BPagWS" binding="basicHttpBinding" bindingConfiguration="BPagWSSoapBinding" contract="BPagWS.BPagWS" name="BPagWS" />
      <endpoint address="http://uslaxqa4wcf01/Service/Catalog/Service.svc" binding="basicHttpBinding" bindingConfiguration="LargeRequestBindingConfiguration" contract="CatalogSVC.ICatalogInterface" name="LargeRequestBindingConfiguration" />
      <endpoint address="http://uspg2-10-154.hrbl.net/BT.Order/SubmitOrder.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="OrderImportBtWS.SubmitOrder" name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="http://uscosprodwcf07.hrbl.net/Service/Shipping/Mexico/Shipping.Mexico.svc" binding="basicHttpBinding" bindingConfiguration="ServiceBinding_IShipping" contract="ShippingMexicoSVC.IShipping" name="ServiceBinding_IShipping" />
      <endpoint address="http://uscosprdhpsapp2.hps-pci.net/HpsWS/InfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfoService" contract="HPSInfoSvc.IInfoService" name="BasicHttpBinding_IInfoService" />
      <endpoint address="sb://herbalifeprod-southcentralus.servicebus.windows.net/Catalog/TcpService.svc/" binding="customBinding" bindingConfiguration="NetTcpRelayBinding_ICatalogInterface" contract="CatalogSVC.ICatalogInterface" name="NetTcpRelayBinding_ICatalogInterface" />
      <endpoint address="http://ushp2-10-157-d.hrbl.net/Service/Distributor/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorService" contract="DistributorSVC.IDistributorService" name="BasicHttpBinding_IDistributorService" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Service/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://ushp2-10-159.hrbl.net/Service/Shipping/ChinaShipping.svc" binding="basicHttpBinding" bindingConfiguration="ServiceBinding_IChinaShipping" contract="ChinaShippingSVC.IChinaShipping" name="ServiceBinding_IChinaShipping" />
      <endpoint address="http://sandbox.99bill.com/gatewayapi/services/gatewayOrderQuery" binding="basicHttpBinding" bindingConfiguration="gatewayOrderQuerySoapBinding" contract="Bill99PaymentGatewaySVC.GatewayOrderQuery" name="gatewayOrderQuery" />
      <endpoint address="http://uscosprodwcf19.hrbl.net/Service/Communication/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunicationService" contract="CommunicationSVC.ICommunicationService" name="BasicHttpBinding_ICommunicationService" />
      <endpoint address="http://ushp2-10-159.hrbl.net/Service/Order/ChinaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChinaInterface1" contract="ChinaOrderSVC.IChinaInterface" name="BasicHttpBinding_IChinaInterface" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService1" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService1" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService2" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService2" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService3" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService3" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService4" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService4" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService5" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService5" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService6" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService6" />
      <endpoint address="http://ushp2-10-155-1.hrbl.net/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService7" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService7" />
      <endpoint address="http://uspg2-10-154.hrbl.net/BT.Order/SubmitOrder.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1" contract="OrderImportBtWS.SubmitOrder" name="BasicHttpBinding_ITwoWayAsync1" />
      <endpoint address="http://uspg2-10-154.hrbl.net/BT.Order/SubmitOrder.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync2" contract="OrderImportBtWS.SubmitOrder" name="BasicHttpBinding_ITwoWayAsync2" />
      <endpoint address="http://ushp2-10-157-1.hrbl.net/Service/Catalog/Service.svc" binding="basicHttpBinding" bindingConfiguration="ServiceEndpoint" contract="CatalogSVC.ICatalogInterface" name="ServiceEndpoint" />
      <endpoint address="http://uslaxqa4wcf01/Service/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService8" contract="OrderReference.IOrderService" name="BasicHttpBinding_IOrderService8" />
      <endpoint address="http://ushp2-10-159wa.hrbl.net/Service/Order/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService9" contract="OrderSVC.IOrderService" name="BasicHttpBinding_IOrderService9" />
      <endpoint address="http://uslaxqa2hwcf01.hrbl.net/Service/Event/Service.svc" behaviorConfiguration="LargeEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="LargeRequestBindingConfiguration2" contract="EventSVC.IEventInterface" name="BasicHttpBinding_IEventInterface" />
      <endpoint address="http://uslaxqa2hwcf01.hrbl.net/Service/Event/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorInterface" contract="EventSVC.IDistributorInterface" name="BasicHttpBinding_IDistributorInterface" />
      <endpoint address="http://uslaxqa2hwcf01.hrbl.net/Service/Event/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInterface" contract="EventSVC.IUserInterface" name="BasicHttpBinding_IUserInterface" />
      <endpoint address="http://ushp2-10-157-1.hrbl.net/Service/Catalog/Service.svc" binding="basicHttpBinding" bindingConfiguration="ServiceEndpoint1" contract="CatalogSVC.ICatalogInterface" name="ServiceEndpoint1" />
      <endpoint address="sb://herbalifeprod-southcentralus.servicebus.windows.net/Catalog/TcpService.svc/" binding="customBinding" bindingConfiguration="NetTcpRelayBinding_ICatalogInterface1" contract="CatalogSVC.ICatalogInterface" name="NetTcpRelayBinding_ICatalogInterface1" />
      <endpoint address="http://localhost:1189/Service.svc" binding="basicHttpBinding" bindingConfiguration="ServiceEndpoint2" contract="CatalogSVC.ICatalogInterface" name="ServiceEndpoint2" />
      <endpoint address="http://ushp2-10-157-1.hrbl.net/Service/Catalog/Service.svc" binding="basicHttpBinding" bindingConfiguration="ServiceEndpoint3" contract="CatalogSVC.ICatalogInterface" name="ServiceEndpoint3" />
      <endpoint address="http://uslaxqa4aawc01.hrbl.net/Service/HLMobileAnalytics/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobileAnalytics" contract="MobileAnalyticsSvc.IMobileAnalytics" name="BasicHttpBinding_IMobileAnalytics" />
      <endpoint address="http://usslcprodwcfv/EmailPublisher/V03/Service/Inbox.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceEndpoint" contract="EmailPublisherSvc.Inbox_PortType" name="ServiceEndpoint" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
