<?xml version="1.0"?>
<NPSMapping>
  <mappings>
    <clearMappings />
    <!--NAM-->
    <addMapping country="US" removePHChargeStartDate="2013-04-13" hasPHCharge="false" showEarnbaseHelpDate="2013-10-23" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-04-13"/>
    <addMapping country="PR" removePHChargeStartDate="2013-04-13" hasPHCharge="false" showEarnbaseHelpDate="2013-10-23" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-04-13"/>
    <addMapping country="CA" removePHChargeStartDate="2013-04-13" hasPHCharge="false" showEarnbaseHelpDate="2013-10-23" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-04-13"/>
    <addMapping country="JM" removePHChargeStartDate="2013-04-13" hasPHCharge="false" pickupChargeResxKey="logisticsCharges" showEarnbaseHelpDate="2013-10-23" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-04-13"/>
    <addMapping country="TT" removePHChargeStartDate="2013-04-13" hasPHCharge="false" pickupChargeResxKey="logisticsCharges" />
    <!--Mexico-->
    <addMapping country="MX" removePHChargeStartDate="2013-07-21" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-07-21"
                phChargeResxKey="packageHandlingCharge.Text" pickupChargeResxKey="freightCharge.Text" shippingChargeResxKey="freightCharge.Text" showEarnbaseHelpDate="2013-12-14"/>
    <!--EMEA-->
    <addMapping country="IE" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="EI" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="ZA" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="SF"  showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="GB" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="UK"  showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="DK" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="DA" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="AT" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="AU" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="CH" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="SZ" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="DE" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="GE" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="GR" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="HE" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="ES" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="SP" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="FI" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="BE" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="FR" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="IL" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="IS" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="IS" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="IC" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="IT" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="NL" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="NO" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="PL" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="PT" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="PO" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="RO" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="RU" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="SE" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="SW" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="TR" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                mapFrom="TU" showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="HU" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="SR" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="UA" removePHChargeStartDate="2013-11-10" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="BY" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10"/>
    <addMapping country="CY" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="CZ" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="EE" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="EN" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="LV" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="LG" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="LT" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="LH" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="GH" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="LB" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="MN" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="MG" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="MK" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="RS" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
          showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="SK" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="SI" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="BW" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="BC" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="LS" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="LT" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="NA" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="WA" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="SZ" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="WZ" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="ZM" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="AM" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="GE" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="GG" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="BG" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="BA" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="false" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" mapFrom="BK" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="SP" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="KZ" removePHChargeStartDate="2013-11-10" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-10"
                  showEarnbaseHelpDate="2013-11-10" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <!-- APAC -->
    <addMapping country="AU" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" mapFrom="AS" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="NZ" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="HK" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="MO" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" mapFrom="MC" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="ID" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="packageHandlingCharge.Text" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="JP" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="MY" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="packageHandlingCharge.Text" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="PH" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" mapFrom="RP" phChargeResxKey="packageHandlingCharge.Text" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="SG" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" mapFrom="SN" phChargeResxKey="packageHandlingCharge.Text" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="TH" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="TW" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
              showEarnbaseHelpDate="2013-11-17" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text"/>
    <addMapping country="VN" removePHChargeStartDate="2013-11-17" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-11-17"
                showEarnbaseHelpDate="2013-11-17" phChargeResxKey="marketingFund" pickupChargeResxKey="lblFreightChargesCaptionResource1.Text" shippingChargeResxKey="lblFreightChargesCaptionResource1.Text" />
    <addMapping country="IN" removePHChargeStartDate="2016-04-10" hasPHCharge="false" showEarnbaseHelpDate="2016-04-10" 
                totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2016-04-10" />
    <!-- CHINA BUG 144207 -->
    <addMapping country="CN" removePHChargeStartDate="2014-12-11" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true"  />

    <addMapping country="KR" removePHChargeStartDate="2014-11-02" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2014-11-02" showEarnbaseHelpDate="2014-11-02"
                mapFrom="KS" phChargeResxKey="freightCharge.Text" pickupChargeResxKey="freightCharge.Text" shippingChargeResxKey="freightCharge.Text" />
    <!-- SAM CAM -->
    <addMapping country="AR" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="BO" removePHChargeStartDate="2013-12-14" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
                mapFrom="BL" showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupCharges" shippingChargeResxKey="shippingCharges" />
    <addMapping country="CL" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              mapFrom="CI" showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="CO" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="EC" removePHChargeStartDate="2013-12-14" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
                showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="PE" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="UY" removePHChargeStartDate="2013-12-14" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
                showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="PY" removePHChargeStartDate="2013-12-14" hasPHCharge="false" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
                showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="VE" hasPHCharge="true"
        phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="CR" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="SV" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="GT" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="HN" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="NI" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
              showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="PA" removePHChargeStartDate="2013-12-14" hasPHCharge="true" totalEarnBasePrdctTypeOnly="true" totalEarnBasePrdctTypeOnlyDate="2013-12-14"
             mapFrom="PM" showEarnbaseHelpDate="2013-12-14" phChargeResxKey="marketingFund" pickupChargeResxKey="pickupShippingCharges" shippingChargeResxKey="pickupShippingCharges" />
    <addMapping country="BR" removePHChargeStartDate="2015-06-02" hasPHCharge="false" />
    <!-- SAM CAM -->
  </mappings>
</NPSMapping>