<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PayByPhoneQATesting" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseCardTokenization" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RootURLPerfix" value="https://" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Omniture -->
    <add key="EnableOmnitureSiteCountryTracking" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="OmnitureSiteTrackingId" value="hlglobal" xdt:Locator="Match(key)" xdt:Transform="Replace"/>


    <!-- Use legacy / fusion data to populate member profile data (slower) .This flag for fallback purposes if new MemberRepository not performing or available. -->
    <add key="CreateMemberProfileFromV01" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

		<!-- Ensure that numbered resxs are not displayed on prod -->
		<add key="HL.Blocks.Localization.AddCommentsToValue" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <!-- Kount -->
    <add key="DataCollectorURL" value="https://ssl.kaptcha.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

	</appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <!--- Test requireSSL under SSL offload of swith before setting to true -->
      <forms domain=".myherbalife.com" requireSSL="false" timeout="30" xdt:Transform="SetAttributes(domain,requireSSL,timeout)" />

    </authentication>

    <!-- Security Update by Mike Rike -->
    <customErrors mode="RemoteOnly" defaultRedirect="/500.aspx" xdt:Transform="Replace">
      <error statusCode="404" redirect="/404.aspx" />
      <error statusCode="500" redirect="/500.aspx" />
    </customErrors>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment>
      <baseAddressPrefixFilters>
        <add prefix="" xdt:Transform="RemoveAll" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <bindings>
      <webHttpBinding>
        <binding name="DefaultWebBinding">
          <!-- Transport mode required with SSL -->
          <security mode="Transport" xdt:Transform="SetAttributes(mode)" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
