// =============
// Variables scss
// -----
// This file is for all variables used in myhl
//
//==============

//SharedUI location
$sharedUI: "/SharedUI" !default;

//==========
// Font variable
//==========
$font-url: $sharedUI + "/CSS/fonts/";
$myherbalife: 'myherbalife';

//==========
// Dispay Vars
//==========
$breakpoint-mobile: 300px;
$breakpoint-tablet: 620px;
$breakpoint-desktop: 940px;
$breakpoint-ext-desktop: 1260px;
$mobile: $breakpoint-mobile;
$tablet: $breakpoint-tablet;
$desktop: $breakpoint-desktop;
$ext-desktop: $breakpoint-ext-desktop;

//==========
// layout Vars
//==========
$gutter: 20px;

//==========
// Color Vars
//==========

// Brand Colors
 $herbalifegreen:#7AC143; // Herbalife Brand Green
 $herbalifeorange:#FAA634; // Herbalife Brand Orange
 $white:#fff;

//Alternate Colors 
 $brightgreen:#87D54A;
 $lightgreen:#DBF5C8;
 $lightorange:#FFF2DE;
 $red:red;

// Greyscale Colors
 $black:#000000;
 $darkgrey:#2e2e2e;
 $charcoalgrey:#515151;
 $grey:#CCCCCC;
$softgrey:#d7d7d7;
 $lightgrey:#EEEEEE;
 $white:#FFFFFF;

// Link Color
 $link-blue:#0080ff;
 $link-hover-grey:#515151;
 $link-light-grey:#EEE;

 $green:#7ac143;

/* Herbalife Brand Green */
$orange:#faa634;
/* Herbalife Brand Orange */

// Text Colors
 $lightblack:#181818;
 $lightcharcoal:#4d4d4d;
 $blue:#0080ff;
 $red:#ff0000;

// Page Subheader Colors
 $salmon:#f16148;
 $darkgreen:#387c28;
 $purple:#886587;
 $darkblue:#27709b;
 $darkgrey:#2e2e2e;

// More Colors
 $brightgreen:#87d54a;
 $lightgreen:#dBf5c8;
 $lightorange:#fff2de;
 $lightblue:#c6eaff;
 $lightred:#ffd8d8;
 $pink:#f65d8c;
 $teal:#2ebfc2;

// Greyscale Colors
 $black:#000;
 $charcoalgrey:#515151;
 $grey:#ccc;
 $lightgrey:#eee;
 $offwhite:#f3f3f3;
 $white:#fff;

//image background color
$block-background-color: rgba(0,0,0,0.2);
$block-background-color-hover: rgba(0,0,0,0.0);

// 24 colors
$lightbluetwo:#11d9d8;
$restore:#9561A8;
$hydrate:#01AFDB;
$prepare:#EA9519;
$prolong:#F03A43;
$rebuild:#FEC421;
$silver:#949599;

//Social
$twitterblue:#4099FF;
$facebookblue:#3B5998;
$instagramred:#663300;
    
//Shadows
$text-shadow:0px 2px 0px rgba(0,0,0,0.08);
$box-shadow:3px solid rgba( 0, 0, 0, 0.3);