#OrderBySkuMain {
    margin-right: 1px;
    width: 550px;
}

#OrderBySkuContainer {
    border: 1px solid #B1B1B1;
    width: 100%;
}

    #OrderBySkuContainer .gdo-pricelist-label {
        margin-left: 1%;
    }

    #OrderBySkuContainer .gdo-order-by-sku-header {
        margin-left: 1%;
    }

    #OrderBySkuContainer .gdo-error-message-div {
        max-width: 300px;
        margin-left: 1%;
    }

    #OrderBySkuContainer .addButtonContainer {
        float: right;
    }

    #OrderBySkuContainer #skuControlsContainer {
        clear: both;
        border: 1px solid #EAEAEA;
        margin-left: 1%;
        margin-right: 1%;
    }

    #OrderBySkuContainer .qtyInput {
        width: 20px;
    }

    #OrderBySkuContainer .productInput {
        width: 100%;
    }

    #OrderBySkuContainer #footer {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        clear: both;
    }

    #OrderBySkuContainer .tblSKU {
        width: 100%;
    }

    #OrderBySkuContainer .spacer {
        padding-bottom: 10px;
    }

    #OrderBySkuContainer th {
        text-align: left;
        color: gray;
        height: 25px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-right-color: currentColor;
        border-left-color: currentColor;
        border-bottom-color: #cccccc;
        border-bottom-width: 1px;
        border-right-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        background-image: none;
        background-image: url("/Content/Global/img/gdo/backgrounds/saved-carts-grid-hd.jpg") !important;
        background-attachment: scroll !important;
        background-repeat: repeat-x !important;
        background-size: auto !important;
        background-origin: padding-box !important;
        background-clip: border-box !important;
        background-color: transparent !important;
        border-bottom-color: #ccc;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    #OrderBySkuContainer .completeSKUInput {
        background-color: #cccccc;
        color: white;
        cursor: pointer;
    }
