<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ApfExemptCountriesOfProcessing" value="KR,VN,"/>-->
    <add key="PickupTinCodeDisplayCountries" value="HK,MO"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <authorization>
      <allow roles="Distr,PresTeam,Bizworks,Customer"/>
      <deny users="*"/>
    </authorization>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="PaymentGateWayManager.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
   <location path="service/cde/tokenizer.svc" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Service/Payment/PagoSeguro.asmx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
    <location path="OrderingAuth/Logon">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="V5">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below.
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json">
          <!--<security mode="Transport"></security>-->
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <netTcpBinding>
        <binding name="TokenizationServiceTcpBinding">
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="DefaultWebBinding">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="TokenizationServiceBehavior">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" findValue="HPSTokenizer" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
        <behavior name="AjaxEndpointBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebHttpEndPointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="MyHerbalife3.Ordering.Web.Ordering.Service.cde.Tokenizer">
        <endpoint address=""  behaviorConfiguration="WebHttpEndPointBehavior" binding="webHttpBinding" bindingConfiguration="DefaultWebBinding" contract="MyHerbalife3.Ordering.Web.Ordering.Service.cde.ITokenizationService" />
      </service>
    </services>
    <client>
      <endpoint binding="netTcpBinding" bindingConfiguration="TokenizationServiceTcpBinding" behaviorConfiguration="TokenizationServiceBehavior"
        contract="Herbalife.HPS.Tokenization.ITokenizationService" address="net.tcp://namp3d1hpsapp01.hrbl.net:8008/hpsws/Tokenization/TokenizationService.svc" name="TokenizationClient">
        <identity>
          <dns value="HPSTokenizer" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>