// =============
// Variables
// -----
// 
//
//==============

@import "../../helpers/_variables.scss";

// Grid Vars
 $breakpoint-mobile:10em;
 $breakpoint-tablet:40em;
 $breakpoint-desktop:70em;

/* text
	================================================== */
$base-font-size:14px;
