// =============
// HRBL Preloader
// -----
// This File contains styling for the Preloader
//
//==============

.hrblPreLoader {
    background: url(#{$sharedUI}/Images/backgrounds/hrblPreLoader.gif) center center no-repeat;
    min-height: 48px;
    min-width: 48px;
    display: inline-block;
}

.hrblPreLoaderContain {
    text-align: center;
    height: 100%;
}